<div class="col-md-12 col-sm-12">
    {{ partial "menu/pipa-hdpe" . }}
</div>

<div class="clear"></div>
<hr>

<div class="text-center">
    <h3>Harga Fitting/Sambungan Pipa HDPE HQ Compression Joint</h3>
    {{ partial "supplier/nkr" . }}
    <br>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Coupling/Socket</th>
                </tr>
                <tr>
                    <td>Size (mm)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20 x 20</td>
                    <td> Rp 12,859</td>
                </tr>
                <tr>
                    <td>25 x 25</td>
                    <td> Rp 17,146</td>
                </tr>
                <tr>
                    <td>32 x 32</td>
                    <td> Rp 27,326</td>
                </tr>
                <tr>
                    <td>40 x 40</td>
                    <td> Rp 46,615</td>
                </tr>
                <tr>
                    <td>50 x 50</td>
                    <td> Rp 70,191</td>
                </tr>
                <tr>
                    <td>63 x 63</td>
                    <td> Rp 116,806</td>
                </tr>
                <tr>
                    <td>75 x 75</td>
                    <td> Rp 179,496</td>
                </tr>
                <tr>
                    <td>90 x 90</td>
                    <td> Rp 254,509</td>
                </tr>
                <tr>
                    <td>110 x 110</td>
                    <td> Rp 509,018</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Elbow 90°/Knee 90°</th>
                </tr>
                <tr>
                    <td>Size (mm)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20 x 20</td>
                    <td> Rp 13,502</td>
                </tr>
                <tr>
                    <td>25 x 25</td>
                    <td> Rp 17,360</td>
                </tr>
                <tr>
                    <td>32 x 32</td>
                    <td> Rp 28,934</td>
                </tr>
                <tr>
                    <td>40 x 40</td>
                    <td> Rp 43,400</td>
                </tr>
                <tr>
                    <td>50 x 50</td>
                    <td> Rp 69,923</td>
                </tr>
                <tr>
                    <td>63 x 63</td>
                    <td> Rp 122,968</td>
                </tr>
                <tr>
                    <td>75 x 75</td>
                    <td> Rp 169,744</td>
                </tr>
                <tr>
                    <td>90 x 90</td>
                    <td> Rp 267,636</td>
                </tr>
                <tr>
                    <td>110 x 110</td>
                    <td> Rp 515,983</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Tee Equal</th>
                </tr>
                <tr>
                    <td>Size (mm)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20 x 20 x 20</td>
                    <td> Rp 22,504</td>
                </tr>
                <tr>
                    <td>25 x 25 x 25</td>
                    <td> Rp 30,005</td>
                </tr>
                <tr>
                    <td>32 x 32 x 32</td>
                    <td> Rp 46,079</td>
                </tr>
                <tr>
                    <td>40 x 40 x 40</td>
                    <td> Rp 77,692</td>
                </tr>
                <tr>
                    <td>50 x 50 x 50</td>
                    <td> Rp 106,090</td>
                </tr>
                <tr>
                    <td>63 x 63 x 63</td>
                    <td> Rp 189,515</td>
                </tr>
                <tr>
                    <td>75 x 75 x 75</td>
                    <td> Rp 270,047</td>
                </tr>
                <tr>
                    <td>90 x 90 x 90</td>
                    <td> Rp 383,371</td>
                </tr>
                <tr>
                    <td>110 x 110 x 110</td>
                    <td> Rp 723,341</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Tee Reducer</th>
                </tr>
                <tr>
                    <td>Size (mm)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>25 x 20</td>
                    <td> Rp 28,875</td>
                </tr>
                <tr>
                    <td>32 x 25</td>
                    <td> Rp 36,612</td>
                </tr>
                <tr>
                    <td>50 x 40</td>
                    <td> Rp 108,700</td>
                </tr>
                <tr>
                    <td>63 x 50</td>
                    <td> Rp 156,300</td>
                </tr>
                <tr>
                    <td>75 x 63</td>
                    <td> Rp 576,000</td>
                </tr>
                <tr>
                    <td>90 x 75</td>
                    <td> Rp 989,000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Reducer/Vlok Sok</th>
                </tr>
                <tr>
                    <td>Size (mm)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>25 x 20</td>
                    <td> Rp 19,000</td>
                </tr>
                <tr>
                    <td>32 x 25</td>
                    <td> Rp 22,000</td>
                </tr>
                <tr>
                    <td>50 x 40</td>
                    <td> Rp 80,900</td>
                </tr>
                <tr>
                    <td>63 x 50</td>
                    <td> Rp 104,000</td>
                </tr>
                <tr>
                    <td>75 x 63</td>
                    <td> Rp 138,900</td>
                </tr>
                <tr>
                    <td>90 x 75</td>
                    <td> Rp 240,000</td>
                </tr>
                <tr>
                    <td>110 x 90</td>
                    <td> Rp 615,000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Female Thread Adaptor/Socket Drat Dalam</th>
                </tr>
                <tr>
                    <td>Size (mm x inch)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20 x 1/2"</td>
                    <td> Rp 9,109</td>
                </tr>
                <tr>
                    <td>25 x 3/4"</td>
                    <td> Rp 13,395</td>
                </tr>
                <tr>
                    <td>32 x 1"</td>
                    <td> Rp 20,361</td>
                </tr>
                <tr>
                    <td>40 x 1-1/4"</td>
                    <td> Rp 27,862</td>
                </tr>
                <tr>
                    <td>50 x 1-1/2"</td>
                    <td> Rp 45,544</td>
                </tr>
                <tr>
                    <td>63 x 2"</td>
                    <td> Rp 78,228</td>
                </tr>
                <tr>
                    <td>75 x 2-1/2"</td>
                    <td> Rp 109,841</td>
                </tr>
                <tr>
                    <td>90 x 3"</td>
                    <td> Rp 155,384</td>
                </tr>
                <tr>
                    <td>110 x 4"</td>
                    <td> Rp 342,917</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Male Thread Adaptor/Socket Drat Luar</th>
                </tr>
                <tr>
                    <td>Size (mm x inch)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20 x 1-1/2"</td>
                    <td> Rp 9,229</td>
                </tr>
                <tr>
                    <td>20 x 1-1/2"</td>
                    <td> Rp 10,920</td>
                </tr>
                <tr>
                    <td>25 x 3/4"</td>
                    <td> Rp 11,198</td>
                </tr>
                <tr>
                    <td>32 x 1"</td>
                    <td> Rp 22,102</td>
                </tr>
                <tr>
                    <td>40 x 1-1/4"</td>
                    <td> Rp 27,862</td>
                </tr>
                <tr>
                    <td>40 x 1-1/2"</td>
                    <td> Rp 28,398</td>
                </tr>
                <tr>
                    <td>50 x 2-1/2"</td>
                    <td> Rp 45,008</td>
                </tr>
                <tr>
                    <td>63 x 2"</td>
                    <td> Rp 66,976</td>
                </tr>
                <tr>
                    <td>75 x 2-1/2"</td>
                    <td> Rp 101,804</td>
                </tr>
                <tr>
                    <td>90 x 3"</td>
                    <td> Rp 144,886</td>
                </tr>
                <tr>
                    <td>110 x 4"</td>
                    <td> Rp 289,336</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Female Thread Elbow/Elbow Drat Dalam</th>
                </tr>
                <tr>
                    <td>Size (mm)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20 x 1/2"</td>
                    <td> Rp 11,788</td>
                </tr>
                <tr>
                    <td>25 x 3/4"</td>
                    <td> Rp 17,146</td>
                </tr>
                <tr>
                    <td>32 x 1"</td>
                    <td> Rp 26,790</td>
                </tr>
                <tr>
                    <td>40 x 1-1/4"</td>
                    <td> Rp 38,042</td>
                </tr>
                <tr>
                    <td>50 x 1-1/2"</td>
                    <td> Rp 57,867</td>
                </tr>
                <tr>
                    <td>63 x 2"</td>
                    <td> Rp 91,623</td>
                </tr>
                <tr>
                    <td>75 x 2-1/2"</td>
                    <td> Rp 112,986</td>
                </tr>
                <tr>
                    <td>90 x 3"</td>
                    <td> Rp 200,124</td>
                </tr>
                <tr>
                    <td>110 x 4"</td>
                    <td> Rp 379,031</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Male Thread Elbow/Elbow Drat Luar</th>
                </tr>
                <tr>
                    <td>Size (mm x inch)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20 x 1/2"</td>
                    <td> Rp 9,645</td>
                </tr>
                <tr>
                    <td>25 x 1/2"</td>
                    <td> Rp 13,530</td>
                </tr>
                <tr>
                    <td>25 x 3/4"</td>
                    <td> Rp 14,467</td>
                </tr>
                <tr>
                    <td>32 x 1"</td>
                    <td> Rp 23,576</td>
                </tr>
                <tr>
                    <td>40 x 1-1/4"</td>
                    <td> Rp 37,507</td>
                </tr>
                <tr>
                    <td>50 x 1-1/2"</td>
                    <td> Rp 53,045</td>
                </tr>
                <tr>
                    <td>63 x 2"</td>
                    <td> Rp 88,248</td>
                </tr>
                <tr>
                    <td>75 x 2-1/2"</td>
                    <td> Rp 111,394</td>
                </tr>
                <tr>
                    <td>90 x 3"</td>
                    <td> Rp 195,302</td>
                </tr>
                <tr>
                    <td>110 x 4"</td>
                    <td> Rp 372,279</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Female Thread Tee/Tee Drat Dalam</th>
                </tr>
                <tr>
                    <td>Size (mm x inch x mm)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20 x 1/2" x 20</td>
                    <td> Rp 18,217</td>
                </tr>
                <tr>
                    <td>25 x 3/4" x 25</td>
                    <td> Rp 26,255</td>
                </tr>
                <tr>
                    <td>32 x 1" x 32</td>
                    <td> Rp 38,578</td>
                </tr>
                <tr>
                    <td>40 x 1-1/4" x 40</td>
                    <td> Rp 60,010</td>
                </tr>
                <tr>
                    <td>50 x 1-1/4" x 50</td>
                    <td> Rp 89,212</td>
                </tr>
                <tr>
                    <td>63 x 2" x 63</td>
                    <td> Rp 159,135</td>
                </tr>
                <tr>
                    <td>75 x 2-1/2" x 75</td>
                    <td> Rp 220,860</td>
                </tr>
                <tr>
                    <td>90 x 3" x 90</td>
                    <td> Rp 310,072</td>
                </tr>
                <tr>
                    <td>110 x 4" x 110</td>
                    <td> Rp 637,504</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Male Thread Tee/Tee Drat Luar</th>
                </tr>
                <tr>
                    <td>Size (mm x inch x mm)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20 x 1/2" x 20</td>
                    <td> Rp 17,146</td>
                </tr>
                <tr>
                    <td>25 x 3/4" x 25</td>
                    <td> Rp 22,504</td>
                </tr>
                <tr>
                    <td>32 x 1" x 32</td>
                    <td> Rp 35,363</td>
                </tr>
                <tr>
                    <td>40 x 1-1/4" x 40</td>
                    <td> Rp 50,634</td>
                </tr>
                <tr>
                    <td>50 x 1-1/4" x 50</td>
                    <td> Rp 82,943</td>
                </tr>
                <tr>
                    <td>63 x 2" x 63</td>
                    <td> Rp 147,079</td>
                </tr>
                <tr>
                    <td>75 x 2-1/2" x 75</td>
                    <td> Rp 202,535</td>
                </tr>
                <tr>
                    <td>90 x 3" x 90</td>
                    <td> Rp 298,981</td>
                </tr>
                <tr>
                    <td>110 x 4" x 110</td>
                    <td> Rp 631,718</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Cap/Dop</th>
                </tr>
                <tr>
                    <td>Size (mm)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20</td>
                    <td> Rp 6,966</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td> Rp 9,645</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td> Rp 17,682</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td> Rp 25,183</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td> Rp 37,507</td>
                </tr>
                <tr>
                    <td>63</td>
                    <td> Rp 75,013</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td> Rp 104,483</td>
                </tr>
                <tr>
                    <td>90</td>
                    <td> Rp 141,989</td>
                </tr>
                <tr>
                    <td>110</td>
                    <td> Rp 283,978</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Clamp Sadle with Galvanize Iron Nut &amp; Bolt</th>
                </tr>
                <tr>
                    <td>Size (mm x inch)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50 x 1/2"</td>
                    <td> Rp 22,772</td>
                </tr>
                <tr>
                    <td>50 x 3/4"</td>
                    <td> Rp 22,772</td>
                </tr>
                <tr>
                    <td>50 x 1-1/4"</td>
                    <td> Rp 39,489</td>
                </tr>
                <tr>
                    <td>63 x 1/2"</td>
                    <td> Rp 32,148</td>
                </tr>
                <tr>
                    <td>63 x 3/4"</td>
                    <td> Rp 32,148</td>
                </tr>
                <tr>
                    <td>63 x 1"</td>
                    <td> Rp 33,488</td>
                </tr>
                <tr>
                    <td>63 x 1-1/4"</td>
                    <td> Rp 40,186</td>
                </tr>
                <tr>
                    <td>90 x 1/2"</td>
                    <td> Rp 41,472</td>
                </tr>
                <tr>
                    <td>90 x 3/4"</td>
                    <td> Rp 41,472</td>
                </tr>
                <tr>
                    <td>90 x 1"</td>
                    <td> Rp 43,400</td>
                </tr>
                <tr>
                    <td>90 x 1-1/4"</td>
                    <td> Rp 45,812</td>
                </tr>
                <tr>
                    <td>110 x 1/2"</td>
                    <td> Rp 50,634</td>
                </tr>
                <tr>
                    <td>110 x 3/4"</td>
                    <td> Rp 50,634</td>
                </tr>
                <tr>
                    <td>110 x 1"</td>
                    <td> Rp 53,045</td>
                </tr>
                <tr>
                    <td>110 x 1-1/4"</td>
                    <td> Rp 53,045</td>
                </tr>
                <tr>
                    <td>160 x 1/2"</td>
                    <td> Rp 116,806</td>
                </tr>
                <tr>
                    <td>160 x 3/4"</td>
                    <td> Rp 123,236</td>
                </tr>
                <tr>
                    <td>160 x 1"</td>
                    <td> Rp 125,915</td>
                </tr>
                <tr>
                    <td>160 x 1-1/4"</td>
                    <td> Rp 125,915</td>
                </tr>
                <tr>
                    <td>200 x 1/2"</td>
                    <td> Rp 233,612</td>
                </tr>
                <tr>
                    <td>200 x 3/4"</td>
                    <td> Rp 234,148</td>
                </tr>
                <tr>
                    <td>200 x 1"</td>
                    <td> Rp 234,684</td>
                </tr>
                <tr>
                    <td>200 x 1-1/4"</td>
                    <td> Rp 239,506</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Clamp Saddle With Bolt, Nut, Plat Washer SS 304</th>
                </tr>
                <tr>
                    <td>Size (mm)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>63 x 1-1/4"</td>
                    <td> Rp 47,151</td>
                </tr>
                <tr>
                    <td>90 x 1-1/4"</td>
                    <td> Rp 75,013</td>
                </tr>
                <tr>
                    <td>110 x 1-1/4"</td>
                    <td> Rp 102,875</td>
                </tr>
                <tr>
                    <td>160 x 1-1/4"</td>
                    <td> Rp 171,459</td>
                </tr>
                <tr>
                    <td>200 x 1-1/4"</td>
                    <td> Rp 334,880</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Ferrule with Cutter Pipe End</th>
                </tr>
                <tr>
                    <td>Size (mm x inch)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20 x 1-1/4"</td>
                    <td> Rp 83,586</td>
                </tr>
                <tr>
                    <td>25 x 1-1/4"</td>
                    <td> Rp 83,586</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Ferrule with Cutter 2 CR 13</th>
                </tr>
                <tr>
                    <td>Size (mm x inch)</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20 x 1-1/4"</td>
                    <td> Rp 105,000</td>
                </tr>
                <tr>
                    <td>25 x 1-1/4"</td>
                    <td> Rp 108,796</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Pushfit Elbow</th>
                </tr>
                <tr>
                    <td>Size</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20mm</td>
                    <td> Rp 38,000</td>
                </tr>
                <tr>
                    <td>25mm</td>
                    <td> Rp 39,000</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th colspan="2">Pushfit Coupling</th>
                </tr>
                <tr>
                    <td>Size</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20mm</td>
                    <td> Rp 36,000</td>
                </tr>
                <tr>
                    <td>25mm</td>
                    <td> Rp 37,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>