<h3>Harga Rangka Genteng Metal </h3>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Merek</th>
            <th>Keterangan</th>
            <th>Harga</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Genteng metal Colour T= 0.25</td>
            <td>Non Merek</td>
            <td>ukuran efektif 77 cm x 80 xm</td>
            <td>25.000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Genteng metal Pasir T=0.25</td>
            <td>Non Merek</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.25</td>
            <td>31.000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>genteng metal multiroof Berpasir t 0.4 </td>
            <td>Multiroof</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.4</td>
            <td>115.000</td>
        </tr>
        <tr>
            <td>4</td>
            <td>genteng metal suryaroof Berpasir t 0.3</td>
            <td>Surya roof</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.3</td>
            <td>79.000</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Sakura roof berpasir</td>
            <td>Sakura roof</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.25</td>
            <td>59.000</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Prima roof/Intiroof berpasir T = 0.35</td>
            <td>Primaroof</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.35</td>
            <td>63.000</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Prima roof/Intiroof berpasir T = 0.30</td>
            <td>Primaroof</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.30</td>
            <td>59.000</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Prima roof/Intiroof berpasir T = 0.25</td>
            <td>Primaroof</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.25</td>
            <td>55.000</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Ceria roof berpasir</td>
            <td>Primaroof</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.25</td>
            <td>44.000</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Genteng metal Sakura Colour T= 0.25</td>
            <td>Sakura roof</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.25 warna</td>
            <td>36.000</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Genteng metal Sakura Colour T= 0.30</td>
            <td>Sakura roof</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.30 Warna</td>
            <td>43.000</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Genteng metal Sakura Colour T= 0.35</td>
            <td>Sakura roof</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.35 Warna</td>
            <td>54.000</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Genteng metal Surya Colour T= 0.30</td>
            <td>Surya roof</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.30 Warna</td>
            <td>52.000</td>
        </tr>
        <tr>
            <td>14</td>
            <td>genteng metal multiroof Warna/colour t 0.4</td>
            <td>Multiroof</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.40 Warna</td>
            <td>80.000</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Genteng metal Colour T= 0.25 primaroof</td>
            <td>Primaroof</td>
            <td>ukuran efektif 77 cm x 80 xm t 0.25 warna</td>
            <td>38.000</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Genteng metal transparan t=0.7 mm</td>
            <td>Non Merek</td>
            <td>ukuran efektif 38.5 cm x 80 xm t 0.25</td>
            <td>65.000</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Genteng metal transparan t=1.5 mm 1x4</td>
            <td>88</td>
            <td>ukuran efektif 38.5cm x 80 xm t 1.5 mm</td>
            <td>105.000</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Genteng metal transparan t=1.5 mm 1x5</td>
            <td>88</td>
            <td>ukuran efektif 77 cm x 100 xm t 1.5 mm</td>
            <td>155.000</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Genteng metal transparan t=1.5 mm 2x4</td>
            <td>88</td>
            <td>ukuran efektif 77 cm x 80 xm t 1.5 mm 2x4</td>
            <td>210.000</td>
        </tr>
    </tbody>
</table>