<h3>Harga Genteng Metal</h3>
<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td><strong>Spesifikasi Genteng</strong></td>
            <td><strong>Satuan</strong></td>
            <td><strong>Harga</strong><strong> (Rp)</strong></td>
        </tr>
        <tr>
            <td>Genteng Tiara Roof</td>
            <td>meter</td>
            <td>65.750</td>
        </tr>
        <tr>
            <td>Genteng Prima Roof</td>
            <td>meter</td>
            <td>95.750</td>
        </tr>
        <tr>
            <td>Genteng Multi Roof</td>
            <td>meter</td>
            <td>95.750</td>
        </tr>
        <tr>
            <td>Genteng Rainbow</td>
            <td>meter</td>
            <td>125.750</td>
        </tr>
    </tbody>
</table>
<h3>Harga Genteng Kaca</h3>
<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td><strong>Spesifikasi Genteng</strong></td>
            <td><strong>Satuan</strong></td>
            <td><strong>Harga</strong><strong> (Rp)</strong></td>
        </tr>
        <tr>
            <td>Genteng Kaca Kanmuri Gelombang</td>
            <td>Buah</td>
            <td>32.750</td>
        </tr>
        <tr>
            <td>Genteng Kaca Kanmuri Flat</td>
            <td>Buah</td>
            <td>52.750</td>
        </tr>
        <tr>
            <td>Genteng Kaca M Class</td>
            <td>Buah</td>
            <td>37.750</td>
        </tr>
        <tr>
            <td>Genteng Kaca KIA</td>
            <td>Buah</td>
            <td>37.750</td>
        </tr>
        <tr>
            <td>Genteng Kaca GMI Gelombang</td>
            <td>Buah</td>
            <td>42.750</td>
        </tr>
        <tr>
            <td>Genteng Kaca GMI Flat</td>
            <td>Buah</td>
            <td>52.750</td>
        </tr>
    </tbody>
</table>
<h3>Harga Genteng Beton</h3>
<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td><strong>Spesifikasi Genteng</strong></td>
            <td><strong>Satuan</strong></td>
            <td><strong>Harga</strong><strong> (Rp)</strong></td>
        </tr>
        <tr>
            <td>Genteng Beton Moenir Gelombang</td>
            <td>Buah</td>
            <td>9.750</td>
        </tr>
        <tr>
            <td>Genteng Beton Moenir Flat</td>
            <td>Buah</td>
            <td>11.750</td>
        </tr>
        <tr>
            <td>Genteng Beton Cisangkan Flat</td>
            <td>Buah</td>
            <td>11.750</td>
        </tr>
        <tr>
            <td>Genteng Beton Mutiara Yogyakarta Flat</td>
            <td>Buah</td>
            <td>10.750</td>
        </tr>
        <tr>
            <td>Genteng Beton Mutiara Jakarta Flat</td>
            <td>Buah</td>
            <td>9.750</td>
        </tr>
        <tr>
            <td>Genteng Beton Mutiara Jakarta Gelombang</td>
            <td>Buah</td>
            <td>9.750</td>
        </tr>
        <tr>
            <td>Genteng Beton Triple S Flat</td>
            <td>Buah</td>
            <td>8.750</td>
        </tr>
        <tr>
            <td>Genteng Beton AM Flat</td>
            <td>Buah</td>
            <td>9.900</td>
        </tr>
        <tr>
            <td>Genteng Beton Rabi Flat</td>
            <td>Buah</td>
            <td>9.750</td>
        </tr>
    </tbody>
</table>
<h3>Harga Genteng Tanah Liat</h3>
<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td><strong>Spesifikasi Genteng</strong></td>
            <td><strong>Satuan</strong></td>
            <td><strong>Harga</strong><strong> (Rp)</strong></td>
        </tr>
        <tr>
            <td>Genteng Super Gojer/ Morando</td>
            <td>Buah</td>
            <td>2.750</td>
        </tr>
        <tr>
            <td>Genteng Kodok/ Prentul/ Goodyear</td>
            <td>Buah</td>
            <td>1.650</td>
        </tr>
        <tr>
            <td>Genteng Mintili Jumbo/ Turbo</td>
            <td>Buah</td>
            <td>1.750</td>
        </tr>
        <tr>
            <td>Genteng Garuda</td>
            <td>Buah</td>
            <td>1.250</td>
        </tr>
        <tr>
            <td>Genteng Plentong</td>
            <td>Buah</td>
            <td>1.150</td>
        </tr>
    </tbody>
</table>
<h3><strong>Genteng Keramik ESPANICA</strong></h3>
<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td><strong>Spesifikasi Genteng</strong></td>
            <td><strong>Tipe Genteng</strong></td>
            <td><strong>Harga</strong><strong> (Rp)</strong></td>
        </tr>
        <tr>
            <td>Genteng Keramik Utama</td>
            <td>KE 1</td>
            <td>18.650</td>
        </tr>
        <tr>
            <td>Nok Genteng Keramik</td>
            <td>KE 2</td>
            <td>37.600</td>
        </tr>
        <tr>
            <td>Lisplank Kiri &amp; Kanan</td>
            <td>KE 3, KE 4</td>
            <td>34.900</td>
        </tr>
        <tr>
            <td>Lisplank Hiasan Akhir Kiri &amp; Kanan</td>
            <td>KE 3 HA, KE 4 HA</td>
            <td>74.800</td>
        </tr>
        <tr>
            <td>Ujung Jurai</td>
            <td>KE 6</td>
            <td>113.900</td>
        </tr>
        <tr>
            <td>ujung Nok Kanan &amp; Kiri</td>
            <td>KE 7 A, KE 7 B</td>
            <td>113.900</td>
        </tr>
        <tr>
            <td>Nok 3 Arah</td>
            <td>KE 8</td>
            <td>138.900</td>
        </tr>
        <tr>
            <td>Genteng Talang / Valley tile</td>
            <td>KE 12</td>
            <td>95.300</td>
        </tr>
        <tr>
            <td>Genteng Dobel / Double tile</td>
            <td>KE 13</td>
            <td>46.200</td>
        </tr>
        <tr>
            <td>Genteng Ventilasi</td>
            <td>KE 14</td>
            <td>404.700</td>
        </tr>
    </tbody>
</table>
<h3><strong>Harga Keramik MILENIO</strong></h3>
<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td><strong>Spesifikasi Genteng</strong></td>
            <td><strong>Tipe Genteng</strong></td>
            <td><strong>Harga</strong><strong> (Rp)</strong></td>
        </tr>
        <tr>
            <td>Genteng Keramik Utama</td>
            <td>KM 1</td>
            <td>19.100</td>
        </tr>
        <tr>
            <td>Nok Genteng Keramik</td>
            <td>KM 2</td>
            <td>37.600</td>
        </tr>
        <tr>
            <td>Lisplank Kiri &amp; Kanan</td>
            <td>KM 3, KM 4</td>
            <td>36.700</td>
        </tr>
        <tr>
            <td>Lisplank Hiasan Akhir Kiri &amp; Kanan</td>
            <td>KM 3 HA, KM 4 HA</td>
            <td>74.800</td>
        </tr>
        <tr>
            <td>Ujung Jurai</td>
            <td>KM 6</td>
            <td>131.900</td>
        </tr>
        <tr>
            <td>Ujung Nok Kanan &amp; Kiri</td>
            <td>KM 7 A, KM 7 B</td>
            <td>112.900</td>
        </tr>
        <tr>
            <td>Nok 3 Arah</td>
            <td>KM 8</td>
            <td>138.900</td>
        </tr>
        <tr>
            <td>Genteng Talang / Valley tile</td>
            <td>KM 12</td>
            <td>95.300</td>
        </tr>
        <tr>
            <td>Genteng Dobel / Double tile</td>
            <td>KM 13</td>
            <td>46.200</td>
        </tr>
        <tr>
            <td>Genteng Ventilasi</td>
            <td>KM 14</td>
            <td>404.400</td>
        </tr>
    </tbody>
</table>

<h3>Harga Genteng Sokka Tanah :</h3>

<p>Genteng Plentong Bulat Rp. 1.800</p>
<p>Genteng Plentong Papak Rp. 1.800</p>
<p>Genteng Magaze Genteng Sokka Magaze Rp. 1.900</p>
<p>Genteng Kodok Rp. 2.100</p>
<p>Genteng Morando Natural Rp. 3.750</p>
<p>Genteng Morando Glazur Rp. 7.750</p>
<p>Genteng Krepus Papak Rp. 6.750</p>
<p>Genteng Krepus Lancip Rp.6.750</p>
<p>Genteng Krepus Bulat Rp. 6.750</p>
<p>Genteng Bedongan Rp. 63.750</p>
<p>Genteng Krepus Garuda Natural Rp. 105.750</p>
<p>Genteng Sokka krepus Rp. 135.750</p>
<p>Genteng Krepus Gunungan Rp. 105.750</p>
<p>Genteng Krepus Mahkota Rp. 55.750</p>
<p>Genteng Krepus Gajah Rp. 80.750</p>