<h3>Harga Onduline Ondovilla & Atap uPVC </h3>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Merek</th>
            <th>Keterangan</th>
            <th>Harga /Btg</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ondoline </td>
            <td>Ondoline</td>
            <td>ukran 95 cm x200 cm</td>
            <td>145.000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ondovilla</td>
            <td>Ondoline</td>
            <td>ukuran 40 cm x 105 cm</td>
            <td>45.000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Nok Ondoline</td>
            <td>Ondoline</td>
            <td>Nok Ondoline panjang 1 m</td>
            <td>80.000</td>
        </tr>
        <tr>
            <td>4</td>
            <td>nok Samping/nok lisplank</td>
            <td>Ondoline</td>
            <td>panjang 1 m</td>
            <td>80.000</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Screw Ondoline</td>
            <td>Ondoline</td>
            <td>screw ondoline panjang 7 cm</td>
            <td>1.000</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Alderon 830</td>
            <td>Alderon</td>
            <td>lebar efektif 830 mm tebal 10 mm </td>
            <td>135.000</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Rooftop</td>
            <td>Rooftop</td>
            <td>lebar efektif 770 mm tebal 10 mm</td>
            <td>125.000</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Uniroof/sunpanel</td>
            <td>Uniroof/sunpanel</td>
            <td>lebar efektif 770 mm</td>
            <td>125.000</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Invidek 3 lapis</td>
            <td>invidek</td>
            <td>lebar efektif 108 cm tebal 3 mm</td>
            <td>150.000</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Invidek 2 lapis</td>
            <td>invidek</td>
            <td>lebar efektif 108 cm tebal 2 mm</td>
            <td>110.000</td>
        </tr>
        <tr>
            <td>11</td>
            <td>invidek transparan</td>
            <td>invidek</td>
            <td>lebar efektif 85 cm tebal 1.5 mm</td>
            <td>185.000</td>
        </tr>
        <tr>
            <td>12</td>
            <td>spandek UPVC exeltec</td>
            <td>exeltex</td>
            <td>lebar efektif 1000 mm tebal 2 mm</td>
            <td>145.000</td>
        </tr>
        <tr>
            <td>13</td>
            <td>spandek UPVC exeltex transparan</td>
            <td>exeltex</td>
            <td>spandek transparan 1000 mm tebal 1.2 mm</td>
            <td>185.000</td>
        </tr>
    </tbody>
</table>