<h3>Harga Rangka Bajaringan Terpasang</h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Merek</th>
            <th>Keterangan</th>
            <th>Harga /m</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Rangka Atap C75.70 Tangguh</td>
            <td>Tangguh / BlueScope</td>
            <td>Matreal Bluescope / Tangguh 0.70</td>
            <td>140.000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rangka Atap C75.70 SNI Import</td>
            <td>SNI 0.70</td>
            <td>Matreal Import SNI 0.70 (merek tidak mengikat)</td>
            <td>120.000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Alumunium Foil Single</td>
            <td>SF</td>
            <td>Wofen</td>
            <td>17.000</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Alumunium Foil Double</td>
            <td>SF</td>
            <td>Wofen</td>
            <td>22.000</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Jasa Pemasangan Rangka</td>
            <td>All Merek</td>
            <td>Ongkos Pasang (Beli bahan sendiri)</td>
            <td>25.000</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Genteng Metal Batuan Terpasang</td>
            <td>Addesia Roof 0.25</td>
            <td>Ukuran Genteng 2x4</td>
            <td>80.000</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Rangka Atap C75.75 Tangguh</td>
            <td>Tangguh / BlueScope</td>
            <td>Matreal Bluescope / Tangguh 0.75</td>
            <td>145.000</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Rangka Atap C75.75 SNI Import</td>
            <td>SNI 0.75</td>
            <td>Matreal Import SNI 0.75 (merek tidak mengikat)</td>
            <td>130.000</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Rangka Atap C75.75 Taso</td>
            <td>TASO</td>
            <td>TASO C75.75</td>
            <td>150.000</td>
        </tr>
    </tbody>
</table>