<h3>Harga Rangka Atap Metal Zincalume & Genteng Metal</h3>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Merek</th>
            <th>Keterangan</th>
            <th>Harga</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Spandek 0.30 lebar 1000 mm **</td>
            <td>Alfa/Maja</td>
            <td>Lebar Efektif 1000 mm (harga/m)</td>
            <td>55.000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>spandek T = 0.35 mm *</td>
            <td>Alfa/maja/global/dll</td>
            <td>lebar efektif kurang lebih 1000, 960 , 950 , 920, 890 mm</td>
            <td>63.000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>atap spandek T 0.4 mm</td>
            <td>Alfa/maja/global/dll</td>
            <td>lebar efektif kurang lebih 1000, 960 , 950 , 920, 890 mm</td>
            <td>71.000</td>
        </tr>
        <tr>
            <td>4</td>
            <td>atap spandek T 0.45 mm</td>
            <td>Alfa/maja/global/dll</td>
            <td>lebar efektif kurang lebih 1000, 960 , 950 , 920, 890 mm</td>
            <td>81.000</td>
        </tr>
        <tr>
            <td>5</td>
            <td>atap spandek T 0.5 mm</td>
            <td>Alfa/maja/global/dll</td>
            <td>lebar efektif kurang lebih 1000, 960 , 950 , 920, 890 mm</td>
            <td>85.000</td>
        </tr>
        <tr>
            <td>6</td>
            <td>atap spandek pasir t 0,3 mm</td>
            <td>Alfa/maja/global/dll + pasir lokal</td>
            <td>lebar efektif kurang lebih 1000 mm di tambah pasir</td>
            <td>85.000</td>
        </tr>
        <tr>
            <td>7</td>
            <td>atap spandek pasir t 0,35 mm</td>
            <td>Alfa/maja/global/dll + pasir lokal</td>
            <td>lebar efektif kurang lebih 1000 mm di tambah pasir</td>
            <td>93.000</td>
        </tr>
        <tr>
            <td>8</td>
            <td>atap spandek T 0.3 mm + peredam </td>
            <td>Kepuh kencana</td>
            <td>atap spandek t 0,3 mm lebar efektif 750 mm + peredam busa dan alumuniumfoil tebal 2-3 mm</td>
            <td>75.000</td>
        </tr>
        <tr>
            <td>9</td>
            <td>atap spandek T 0.35 mm + peredam</td>
            <td>Kepuh kencana</td>
            <td>atap spandek t 0,35 lebar efektif 750 mm + peredam busa dan alumuniumfoil tebal 2-3 mm</td>
            <td>83.000</td>
        </tr>
        <tr>
            <td>10</td>
            <td>atap spandek 680, 700, 750 770 mm 0.3 sd 0.6 mm</td>
            <td>Alfa/maja/global/dll</td>
            <td>lebar efektif 680 sd 770 mm harga telepon kontak admin</td>
            <td>0</td>
        </tr>
        <tr>
            <td>11</td>
            <td>atap spandek colour/warna </td>
            <td>Alfa/maja/global/dll</td>
            <td>lebar efektif 680 sd 1000 mm harga kontak admin</td>
            <td>0</td>
        </tr>
        <tr>
            <td>12</td>
            <td>atap spandek berbahan dasar dari blouscope </td>
            <td>maja/lysaght</td>
            <td>lebar efektif 680 sd 1020 mm dan type lainnya harga kontak admin</td>
            <td>0</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Atap spandek lengkung t= 0.35 sd 0.6 mm</td>
            <td>Alfa/maja</td>
            <td>lebar efektif 750 harga tergantung R lengkung</td>
            <td>0</td>
        </tr>
    </tbody>
</table>