<div class="text-center">
    <div class="col-md-12 col-lg-12">
        {{ partial "menu/pipa-hdpe" . }}

        <hr>
        <br>
    </div>



    <div class="col-md-12 col-sm-12">
        <h3>Harga Pipa HDPE Supralon</h3>
        {{ partial "supplier/nkr" . }}

        <br>
    </div>


    <div class="col-md-6 col-sm-12">
        {{ partial "pipa/hdpe-supralon-pn16" . }}
    </div>
    <div class="col-md-6 col-sm-12">
        {{ partial "pipa/hdpe-supralon-pn125" . }}
    </div>

    <div class="col-md-12 col-sm-12">
        <br><br>
    </div>

    <div class="col-md-6 col-sm-12">
        {{ partial "pipa/hdpe-supralon-pn10" . }}
    </div>
    <div class="col-md-6 col-sm-12">
        {{ partial "pipa/hdpe-supralon-pn8" . }}
    </div>

    <div class="clear"></div>
    
    <br><hr>

    <div class="col-md-12 col-sm-12">
        <h3>Swallow HDPE Standard ISO 4427 – 1996 / SNI 06 – 4829 – 2005</h3>
        {{ partial "supplier/nkr" . }}
        <br>
    </div>

    <div class="col-md-4 col-sm-12">
        {{ partial "pipa/hdpe-swallow-pn10" . }}
    </div>
    <div class="col-md-4 col-sm-12">
        {{ partial "pipa/hdpe-swallow-pn125" . }}
    </div>
    <div class="col-md-4 col-sm-12">
        {{ partial "pipa/hdpe-swallow-pn16" . }}
    </div>    

</div>