<div class="col-md-12 col-sm-12">
    <!-- Elbow 90deg  -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Elbow 90° / Knee 90°</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>½</td>
                <td>Rp 1.600</td>
            </tr>
            <tr>
                <td>¾</td>
                <td>Rp 2.050</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Rp 3.350</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td>Rp 5.800</td>
            </tr>
            <tr>
                <td>1½</td>
                <td>Rp 8.200</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rp 12.750</td>
            </tr>
            <tr>
                <td>2½</td>
                <td>Rp 18.900</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Rp 33.000</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Rp 62.900</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Rp 95.000</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Rp 158.000</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Rp 360.000</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Rp 539.000</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Rp 1.765.500</td>
            </tr>
            <tr>
                <td>14</td>
                <td>–</td>
            </tr>
        </tbody>
    </table>
    <!-- Elbow 90deg -->

    <!-- Tee Equal -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Tee (Equal)</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>½</td>
                <td>Rp 2.150</td>
            </tr>
            <tr>
                <td>¾</td>
                <td>Rp 2.950</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Rp 4.700</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td>Rp 7.900</td>
            </tr>
            <tr>
                <td>1½</td>
                <td>Rp 11.000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rp 17.150</td>
            </tr>
            <tr>
                <td>2½</td>
                <td>Rp 27.250</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Rp 40.000</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Rp 81.200</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Rp 184.300</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Rp 202.500</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Rp 529.650</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Rp 1.764.400</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Rp 4.356.000</td>
            </tr>
            <tr>
                <td>14</td>
                <td>–</td>
            </tr>
        </tbody>
    </table>
    <!-- Tee Equal -->

    <!-- tee reducer -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Tee Reducer</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>¾ x ½</td>
                <td>Rp 2.900</td>
            </tr>
            <tr>
                <td>1 X ½</td>
                <td>Rp 4.500</td>
            </tr>
            <tr>
                <td>1 X ¾</td>
                <td>Rp 4.550</td>
            </tr>
            <tr>
                <td>1¼ x ½</td>
                <td>Rp 6.650</td>
            </tr>
            <tr>
                <td>1¼ x ¾</td>
                <td>Rp 6.750</td>
            </tr>
            <tr>
                <td>1¼ X 1</td>
                <td>Rp 7.800</td>
            </tr>
            <tr>
                <td>1½ X ½</td>
                <td>Rp 9.050</td>
            </tr>
            <tr>
                <td>1½ X ¾</td>
                <td>Rp 9.200</td>
            </tr>
            <tr>
                <td>1½ X 1</td>
                <td>Rp 9.650</td>
            </tr>
            <tr>
                <td>1½ X 1¼</td>
                <td>Rp 10.750</td>
            </tr>
            <tr>
                <td>2 X ½</td>
                <td>Rp 11.150</td>
            </tr>
            <tr>
                <td>2 X ¾</td>
                <td>Rp 11.200</td>
            </tr>
            <tr>
                <td>2 X 1</td>
                <td>Rp 11.650</td>
            </tr>
            <tr>
                <td>2 X 1¼</td>
                <td>Rp 15.300</td>
            </tr>
            <tr>
                <td>2 X 1½</td>
                <td>Rp 15.850</td>
            </tr>
            <tr>
                <td>2½ X 1½</td>
                <td>Rp 37.950</td>
            </tr>
            <tr>
                <td>2½ X 2</td>
                <td>Rp 37.950</td>
            </tr>
            <tr>
                <td>3 X 3/4</td>
                <td>Rp 42.650</td>
            </tr>
            <tr>
                <td>3 X 1</td>
                <td>Rp 42.650</td>
            </tr>
            <tr>
                <td>3 X 1½</td>
                <td>Rp 42.650</td>
            </tr>
            <tr>
                <td>3 X 2</td>
                <td>Rp 30.600</td>
            </tr>
            <tr>
                <td>3 X 2½</td>
                <td>Rp 42.950</td>
            </tr>
            <tr>
                <td>4 X 1½</td>
                <td>Rp 108.800</td>
            </tr>
            <tr>
                <td>4 X 2</td>
                <td>Rp 108.800</td>
            </tr>
            <tr>
                <td>4 X 2½</td>
                <td>Rp 119.800</td>
            </tr>
            <tr>
                <td>4 X 3</td>
                <td>Rp 119.800</td>
            </tr>
            <tr>
                <td>5 X 3</td>
                <td>Rp 145.450</td>
            </tr>
            <tr>
                <td>5 X 4</td>
                <td>Rp 145.450</td>
            </tr>
            <tr>
                <td>6 X 2</td>
                <td>Rp 240.750</td>
            </tr>
            <tr>
                <td>6 X 3</td>
                <td>Rp 240.750</td>
            </tr>
            <tr>
                <td>6 X 4</td>
                <td>Rp 262.150</td>
            </tr>
            <tr>
                <td>6 X 5</td>
                <td>Rp 364.850</td>
            </tr>
            <tr>
                <td>8 X 4</td>
                <td>Rp 544.000</td>
            </tr>
            <tr>
                <td>8 X 6</td>
                <td>Rp 673.200</td>
            </tr>
            <tr>
                <td>10 X 6</td>
                <td>Rp 1.554.000</td>
            </tr>
            <tr>
                <td>10 X 8</td>
                <td>Rp 1.554.000</td>
            </tr>
            <tr>
                <td>12 X 8</td>
                <td>Rp 4.174.500</td>
            </tr>
            <tr>
                <td>12 X 10</td>
                <td>Rp 4.053.500</td>
            </tr>
        </tbody>
    </table>
    <!-- tee reducer -->

    <!-- y branch equal -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Y Branch (Tee 45°)</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>¾</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1½</td>
                <td>Rp 25.700</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rp 33.700</td>
            </tr>
            <tr>
                <td>2½</td>
                <td>Rp 54.000</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Rp 63.900</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Rp 133.750</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Rp 259.900</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Rp 444.500</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Rp 959.000</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Rp 1.798.000</td>
            </tr>
            <tr>
                <td>12</td>
                <td>–</td>
            </tr>
            <tr>
                <td>14</td>
                <td>–</td>
            </tr>
        </tbody>
    </table>
    <!-- y branch equal -->

    <!-- y branch reduced -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Y Branch / Tee 45°</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>¾ x ½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1 X ½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1 X ¾</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1¼ x ½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1¼ x ¾</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1¼ X 1</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1½ X ½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1½ X ¾</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1½ X 1</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1½ X 1¼</td>
                <td>–</td>
            </tr>
            <tr>
                <td>2 X ½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>2 X ¾</td>
                <td>–</td>
            </tr>
            <tr>
                <td>2 X 1</td>
                <td>–</td>
            </tr>
            <tr>
                <td>2 X 1¼</td>
                <td>–</td>
            </tr>
            <tr>
                <td>2 X 1½</td>
                <td>Rp 30.800</td>
            </tr>
            <tr>
                <td>2½ X 1½</td>
                <td>Rp 47.600</td>
            </tr>
            <tr>
                <td>2½ X 2</td>
                <td>Rp 47.600</td>
            </tr>
            <tr>
                <td>3 X 3/4</td>
                <td>–</td>
            </tr>
            <tr>
                <td>3 X 1</td>
                <td>–</td>
            </tr>
            <tr>
                <td>3 X 1½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>3 X 2</td>
                <td>Rp 52.200</td>
            </tr>
            <tr>
                <td>3 X 2½</td>
                <td>Rp 52.200</td>
            </tr>
            <tr>
                <td>4 X 1½</td>
                <td>Rp 99.200</td>
            </tr>
            <tr>
                <td>4 X 2</td>
                <td>Rp 99.200</td>
            </tr>
            <tr>
                <td>4 X 2½</td>
                <td>Rp 113.900</td>
            </tr>
            <tr>
                <td>4 X 3</td>
                <td>Rp 113.900</td>
            </tr>
            <tr>
                <td>5 X 3</td>
                <td>Rp 173.300</td>
            </tr>
            <tr>
                <td>5 X 4</td>
                <td>Rp 203.600</td>
            </tr>
            <tr>
                <td>6 X 2</td>
                <td>Rp 312.500</td>
            </tr>
            <tr>
                <td>6 X 3</td>
                <td>Rp 315.650</td>
            </tr>
            <tr>
                <td>6 X 4</td>
                <td>Rp 315.650</td>
            </tr>
            <tr>
                <td>6 X 5</td>
                <td>Rp 394.800</td>
            </tr>
            <tr>
                <td>8 X 4</td>
                <td>Rp 651.650</td>
            </tr>
            <tr>
                <td>8 X 6</td>
                <td>Rp 762.900</td>
            </tr>
            <tr>
                <td>10 X 6</td>
                <td>Rp 1.798.000</td>
            </tr>
            <tr>
                <td>10 X 8</td>
                <td>Rp 1.798.000</td>
            </tr>
            <tr>
                <td>12 X 8</td>
                <td>–</td>
            </tr>
            <tr>
                <td>12 X 10</td>
                <td>–</td>
            </tr>
        </tbody>
    </table>
    <!-- y branch reduced -->

    <!-- cap -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Cap / Dop</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>½</td>
                <td>Rp 1.300</td>
            </tr>
            <tr>
                <td>¾</td>
                <td>Rp 1.500</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Rp 2.500</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td>Rp 4.350</td>
            </tr>
            <tr>
                <td>1½</td>
                <td>Rp 7.150</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rp 6.800</td>
            </tr>
            <tr>
                <td>2½</td>
                <td>Rp 14.750</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Rp 18.400</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Rp 39.350</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Rp 63.550</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Rp 74.000</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Rp 132.000</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Rp 416.400</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Rp 715.000</td>
            </tr>
            <tr>
                <td>14</td>
                <td>–</td>
            </tr>
        </tbody>
    </table>
    <!-- cap -->

    <!-- watermur socket -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Watermur (Socket)</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>½</td>
                <td>Rp 9.500</td>
            </tr>
            <tr>
                <td>¾</td>
                <td>Rp 14.800</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Rp 16.800</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td>Rp 29.500</td>
            </tr>
            <tr>
                <td>1½</td>
                <td>Rp 56.900</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rp 60.950</td>
            </tr>
        </tbody>
    </table>
    <!-- watermur socket -->

    <!-- sock drat luar -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Sok Drat Luar (SDL)</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>½</td>
                <td>Rp 1.100</td>
            </tr>
            <tr>
                <td>¾</td>
                <td>Rp 1.450</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Rp 2.100</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td>Rp 4.050</td>
            </tr>
            <tr>
                <td>1½</td>
                <td>Rp 5.300</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rp 7.700</td>
            </tr>
            <tr>
                <td>2½</td>
                <td>Rp 17.600</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Rp 18.900</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Rp 37.000</td>
            </tr>
        </tbody>
    </table>
    <!-- sock drat luar -->
    
    <!-- Elbow 45 deg -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Elbow 45° / Knee 45°</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>¾</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Rp 6.750</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1½</td>
                <td>Rp 9.200</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rp 14.300</td>
            </tr>
            <tr>
                <td>2½</td>
                <td>Rp 22.200</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Rp 34.000</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Rp 62.000</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Rp 116.500</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Rp 181.000</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Rp 488.000</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Rp 1.161.600</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Rp 1.765.500</td>
            </tr>
            <tr>
                <td>14</td>
                <td>–</td>
            </tr>
        </tbody>
    </table>
    <!-- Elbow 45 deg -->

    <!-- socket -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Socket (Sok/Coupler)</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>½</td>
                <td>Rp 1.300</td>
            </tr>
            <tr>
                <td>¾</td>
                <td>Rp 1.750</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Rp 2.750</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td>Rp 4.600</td>
            </tr>
            <tr>
                <td>1½</td>
                <td>Rp 6.900</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rp 10.200</td>
            </tr>
            <tr>
                <td>2½</td>
                <td>Rp 17.500</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Rp 24.700</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Rp 48.250</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Rp 102.750</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Rp 108.100</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Rp 218.400</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Rp 346.000</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Rp 1.373.350</td>
            </tr>
            <tr>
                <td>14</td>
                <td>–</td>
            </tr>
        </tbody>
    </table>
    <!-- socket -->

    <!-- reducer -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Reducer / Vlok Sok</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>¾ x ½</td>
                <td>Rp 1.850</td>
            </tr>
            <tr>
                <td>1 X ½</td>
                <td>Rp 2.150</td>
            </tr>
            <tr>
                <td>1 X ¾</td>
                <td>Rp 2.500</td>
            </tr>
            <tr>
                <td>1¼ x ½</td>
                <td>Rp 3.300</td>
            </tr>
            <tr>
                <td>1¼ x ¾</td>
                <td>Rp 3.300</td>
            </tr>
            <tr>
                <td>1¼ X 1</td>
                <td>Rp 4.000</td>
            </tr>
            <tr>
                <td>1½ X ½</td>
                <td>Rp 4.500</td>
            </tr>
            <tr>
                <td>1½ X ¾</td>
                <td>Rp 4.500</td>
            </tr>
            <tr>
                <td>1½ X 1</td>
                <td>Rp 5.300</td>
            </tr>
            <tr>
                <td>1½ X 1¼</td>
                <td>Rp 6.000</td>
            </tr>
            <tr>
                <td>2 X ½</td>
                <td>Rp 6.600</td>
            </tr>
            <tr>
                <td>2 X ¾</td>
                <td>Rp 6.200</td>
            </tr>
            <tr>
                <td>2 X 1</td>
                <td>Rp 7.200</td>
            </tr>
            <tr>
                <td>2 X 1¼</td>
                <td>Rp 8.500</td>
            </tr>
            <tr>
                <td>2 X 1½</td>
                <td>Rp 9.100</td>
            </tr>
            <tr>
                <td>2½ X 1½</td>
                <td>Rp 15.300</td>
            </tr>
            <tr>
                <td>2½ X 2</td>
                <td>Rp 15.300</td>
            </tr>
            <tr>
                <td>3 X 3/4</td>
                <td>Rp 23.500</td>
            </tr>
            <tr>
                <td>3 X 1</td>
                <td>Rp 23.500</td>
            </tr>
            <tr>
                <td>3 X 1½</td>
                <td>Rp 23.500</td>
            </tr>
            <tr>
                <td>3 X 2</td>
                <td>Rp 15.800</td>
            </tr>
            <tr>
                <td>3 X 2½</td>
                <td>Rp 24.000</td>
            </tr>
            <tr>
                <td>4 X 1½</td>
                <td>Rp 39.400</td>
            </tr>
            <tr>
                <td>4 X 2</td>
                <td>Rp 39.400</td>
            </tr>
            <tr>
                <td>4 X 2½</td>
                <td>Rp 46.000</td>
            </tr>
            <tr>
                <td>4 X 3</td>
                <td>Rp 46.000</td>
            </tr>
            <tr>
                <td>5 X 3</td>
                <td>Rp 98.500</td>
            </tr>
            <tr>
                <td>5 X 4</td>
                <td>Rp 98.000</td>
            </tr>
            <tr>
                <td>6 X 2</td>
                <td>Rp –</td>
            </tr>
            <tr>
                <td>6 X 3</td>
                <td>Rp 81.700</td>
            </tr>
            <tr>
                <td>6 X 4</td>
                <td>Rp 89.100</td>
            </tr>
            <tr>
                <td>6 X 5</td>
                <td>Rp 93.400</td>
            </tr>
            <tr>
                <td>8 X 4</td>
                <td>Rp 160.400</td>
            </tr>
            <tr>
                <td>8 X 6</td>
                <td>Rp 215.000</td>
            </tr>
            <tr>
                <td>10 X 6</td>
                <td>Rp 510.000</td>
            </tr>
            <tr>
                <td>10 X 8</td>
                <td>Rp 395.800</td>
            </tr>
            <tr>
                <td>12 X 8</td>
                <td>Rp 746.900</td>
            </tr>
            <tr>
                <td>12 X 10</td>
                <td>Rp 750.200</td>
            </tr>
        </tbody>
    </table>
    <!-- reducer -->

    <!-- flange -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Flange Adaptor / Stub End</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>½</td>
                <td>Rp 26.750</td>
            </tr>
            <tr>
                <td>¾</td>
                <td>Rp 31.000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Rp 38.500</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td>Rp 40.650</td>
            </tr>
            <tr>
                <td>1½</td>
                <td>Rp 41.700</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rp 37.950</td>
            </tr>
            <tr>
                <td>2½</td>
                <td>Rp 55.000</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Rp 48.700</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Rp 69.950</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Rp 143.000</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Rp 159.500</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Rp 272.300</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Rp 774.400</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Rp 973.950</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Rp 2.513.000</td>
            </tr>
        </tbody>
    </table>
    <!-- flange -->

    <!-- tee y equal -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Large Radius Tee / Tee Y</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>¾</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1½</td>
                <td>Rp 22.500</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rp 29.900</td>
            </tr>
            <tr>
                <td>2½</td>
                <td>Rp 58.800</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Rp 62.050</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Rp 130.000</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Rp 254.650</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Rp 400.150</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Rp 1.698.000</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Rp 1.905.200</td>
            </tr>
            <tr>
                <td>12</td>
                <td>–</td>
            </tr>
            <tr>
                <td>14</td>
                <td>–</td>
            </tr>
        </tbody>
    </table>
    <!-- tee y equal -->

    <!-- tee y reduced -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Large Radius Tee / Tee Y</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>¾ x ½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1 X ½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1 X ¾</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1¼ x ½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1¼ x ¾</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1¼ X 1</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1½ X ½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1½ X ¾</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1½ X 1</td>
                <td>–</td>
            </tr>
            <tr>
                <td>1½ X 1¼</td>
                <td>–</td>
            </tr>
            <tr>
                <td>2 X ½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>2 X ¾</td>
                <td>–</td>
            </tr>
            <tr>
                <td>2 X 1</td>
                <td>–</td>
            </tr>
            <tr>
                <td>2 X 1¼</td>
                <td>–</td>
            </tr>
            <tr>
                <td>2 X 1½</td>
                <td>Rp 29.900</td>
            </tr>
            <tr>
                <td>2½ X 1½</td>
                <td>Rp 47.000</td>
            </tr>
            <tr>
                <td>2½ X 2</td>
                <td>Rp 47.000</td>
            </tr>
            <tr>
                <td>3 X 3/4</td>
                <td>–</td>
            </tr>
            <tr>
                <td>3 X 1</td>
                <td>–</td>
            </tr>
            <tr>
                <td>3 X 1½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>3 X 2</td>
                <td>Rp 52.500</td>
            </tr>
            <tr>
                <td>3 X 2½</td>
                <td>–</td>
            </tr>
            <tr>
                <td>4 X 1½</td>
                <td>Rp 90.200</td>
            </tr>
            <tr>
                <td>4 X 2</td>
                <td>Rp 89.800</td>
            </tr>
            <tr>
                <td>4 X 2½</td>
                <td>Rp 120.900</td>
            </tr>
            <tr>
                <td>4 X 3</td>
                <td>Rp 120.900</td>
            </tr>
            <tr>
                <td>5 X 3</td>
                <td>Rp 175.450</td>
            </tr>
            <tr>
                <td>5 X 4</td>
                <td>Rp 204.300</td>
            </tr>
            <tr>
                <td>6 X 2</td>
                <td>–</td>
            </tr>
            <tr>
                <td>6 X 3</td>
                <td>Rp 278.200</td>
            </tr>
            <tr>
                <td>6 X 4</td>
                <td>Rp 256.800</td>
            </tr>
            <tr>
                <td>6 X 5</td>
                <td>–</td>
            </tr>
            <tr>
                <td>8 X 4</td>
                <td>Rp 685.000</td>
            </tr>
            <tr>
                <td>8 X 6</td>
                <td>Rp 791.000</td>
            </tr>
            <tr>
                <td>10 X 6</td>
                <td>Rp 1.765.500</td>
            </tr>
            <tr>
                <td>10 X 8</td>
                <td>Rp 1.765.500</td>
            </tr>
            <tr>
                <td>12 X 8</td>
                <td>–</td>
            </tr>
            <tr>
                <td>12 X 10</td>
                <td>–</td>
            </tr>
        </tbody>
    </table>
    <!-- tee y reduced -->

    <!-- watermur drat -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Watermur (Drat)</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>½</td>
                <td>Rp 9.600</td>
            </tr>
            <tr>
                <td>¾</td>
                <td>Rp 14.950</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Rp 17.150</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td>Rp 29.950</td>
            </tr>
            <tr>
                <td>1½</td>
                <td>Rp 56.800</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rp 60.200</td>
            </tr>
        </tbody>
    </table>
    <!-- watermur drat -->

    <!-- clean out -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">Clean Out (CO)</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rp 8.800</td>
            </tr>
            <tr>
                <td>2½</td>
                <td>Rp 13.000</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Rp 17.800</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Rp 23.100</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Rp 65.000</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Rp 77.000</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Rp 292.000</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Rp 1.000.900</td>
            </tr>
        </tbody>
    </table>
    <!-- clean out -->

    <!-- ptrap -->
    <table class="table table-bordered table-hover table-inverse">
        <tbody>
            <tr>
                <td colspan="2">P Trap</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>1½</td>
                <td>Rp 29.500</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rp 23.000</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Rp 72.500</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Rp 127.600</td>
            </tr>
        </tbody>
    </table>
    <!-- ptrap -->
</div>