<div class="col-md-6 col-sm-12">
    <!-- elbow 90deg -->
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td colspan="2">Elbow 90°/Knee 90°</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td> Harga</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td> Rp 2,250</td>
            </tr>
            <tr>
                <td>1½</td>
                <td> Rp 2,950</td>
            </tr>
            <tr>
                <td>2</td>
                <td> Rp 3,850</td>
            </tr>
            <tr>
                <td>2½</td>
                <td> Rp 8,150</td>
            </tr>
            <tr>
                <td>3</td>
                <td> Rp 11,950</td>
            </tr>
            <tr>
                <td>4</td>
                <td> Rp 25,000</td>
            </tr>
            <tr>
                <td>5</td>
                <td> Rp 44,850</td>
            </tr>
            <tr>
                <td>6</td>
                <td> Rp 73,000</td>
            </tr>
            <tr>
                <td>8</td>
                <td> Rp 161,300</td>
            </tr>
            <tr>
                <td>10</td>
                <td> Rp 321,000</td>
            </tr>
            <tr>
                <td>12</td>
                <td> Rp 485,700</td>
            </tr>
            <tr>
                <td>14</td>
                <td> Rp 2,190,000</td>
            </tr>
            <tr>
                <td>16</td>
                <td> Rp 4,900,000</td>
            </tr>
        </tbody>
    </table>
    <!-- elbow 90deg -->

    <!-- tee equal -->
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td colspan="2">Tee</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td> Harga</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td> Rp 2,150</td>
            </tr>
            <tr>
                <td>1½</td>
                <td> Rp 2,800</td>
            </tr>
            <tr>
                <td>2</td>
                <td> Rp 4,800</td>
            </tr>
            <tr>
                <td>2½</td>
                <td> Rp 6,650</td>
            </tr>
            <tr>
                <td>3</td>
                <td> Rp 11,700</td>
            </tr>
            <tr>
                <td>4</td>
                <td> Rp 19,700</td>
            </tr>
            <tr>
                <td>5</td>
                <td> Rp 34,700</td>
            </tr>
            <tr>
                <td>6</td>
                <td> Rp 100,450</td>
            </tr>
            <tr>
                <td>8</td>
                <td> Rp 209,000</td>
            </tr>
            <tr>
                <td>10</td>
                <td> Rp 761,800</td>
            </tr>
            <tr>
                <td>12</td>
                <td> Rp 1,630,000</td>
            </tr>
            <tr>
                <td>14</td>
                <td> -</td>
            </tr>
            <tr>
                <td>16</td>
                <td> -</td>
            </tr>
        </tbody>
    </table>
    <!-- tee equal -->

    <!-- y branch -->
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td colspan="2">Y Branch (equal)</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td> Harga</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td> Rp 4,850</td>
            </tr>
            <tr>
                <td>1½</td>
                <td> Rp 5,000</td>
            </tr>
            <tr>
                <td>2</td>
                <td> Rp 9,300</td>
            </tr>
            <tr>
                <td>2½</td>
                <td> Rp 15,500</td>
            </tr>
            <tr>
                <td>3</td>
                <td> Rp 20,500</td>
            </tr>
            <tr>
                <td>4</td>
                <td> Rp 48,400</td>
            </tr>
            <tr>
                <td>5</td>
                <td> Rp 60,000</td>
            </tr>
            <tr>
                <td>6</td>
                <td> Rp 177,900</td>
            </tr>
            <tr>
                <td>8</td>
                <td> Rp 549,000</td>
            </tr>
            <tr>
                <td>10</td>
                <td> -</td>
            </tr>
            <tr>
                <td>12</td>
                <td> -</td>
            </tr>
            <tr>
                <td>14</td>
                <td> -</td>
            </tr>
            <tr>
                <td>16</td>
                <td> -</td>
            </tr>
        </tbody>
    </table>
    <!-- y branch -->

    <!-- long elbow -->
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td colspan="2">Long Elbow</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td> Harga</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td> -</td>
            </tr>
            <tr>
                <td>1½</td>
                <td> Rp 7,950</td>
            </tr>
            <tr>
                <td>2</td>
                <td> Rp 8,700</td>
            </tr>
            <tr>
                <td>2½</td>
                <td> Rp 19,150</td>
            </tr>
            <tr>
                <td>3</td>
                <td> Rp 19,700</td>
            </tr>
            <tr>
                <td>4</td>
                <td> Rp 41,100</td>
            </tr>

        </tbody>
    </table>
    <!-- long elbow -->

    <!-- reducer -->
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td colspan="2">Reducer</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>2 X 1½</td>
                <td> Rp 2,900</td>
            </tr>
            <tr>
                <td>2½ X 1½</td>
                <td> Rp 5,800</td>
            </tr>
            <tr>
                <td>2½ X 2</td>
                <td> Rp 5,800</td>
            </tr>
            <tr>
                <td>3 X 1½</td>
                <td> Rp 9,200</td>
            </tr>
            <tr>
                <td>3 X 2</td>
                <td> Rp 9,200</td>
            </tr>
            <tr>
                <td>3 X 2½</td>
                <td> Rp 9,200</td>
            </tr>
            <tr>
                <td>4 X 1½</td>
                <td> Rp 11,500</td>
            </tr>
            <tr>
                <td>4 X 2</td>
                <td> Rp 11,500</td>
            </tr>
            <tr>
                <td>4 X 3</td>
                <td> Rp 11,500</td>
            </tr>
            <tr>
                <td>5 X 3</td>
                <td> Rp 20,700</td>
            </tr>
            <tr>
                <td>5 X 4</td>
                <td> Rp 20,700</td>
            </tr>
            <tr>
                <td>6 X 3</td>
                <td> Rp 37,250</td>
            </tr>
            <tr>
                <td>6 X 4</td>
                <td> Rp 37,250</td>
            </tr>
            <tr>
                <td>6 X 5</td>
                <td> Rp 37,250</td>
            </tr>
            <tr>
                <td>8 X 3</td>
                <td> -</td>
            </tr>
            <tr>
                <td>8 X 4</td>
                <td> Rp 76,500</td>
            </tr>
            <tr>
                <td>8 X 5</td>
                <td> -</td>
            </tr>
            <tr>
                <td>8 X 6</td>
                <td> Rp 84,600</td>
            </tr>
            <tr>
                <td>10 X 8</td>
                <td> Rp 481,400</td>
            </tr>
            <tr>
                <td>12 x 6</td>
                <td> -</td>
            </tr>
            <tr>
                <td>12 x 8</td>
                <td> -</td>
            </tr>
            <tr>
                <td>12 x 10</td>
                <td> -</td>
            </tr>
        </tbody>
    </table>
    <!-- reducer -->

    <!-- tee y reduced -->
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td colspan="2">Tee Y (reduced)</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>2 X 1½</td>
                <td> Rp 7,750</td>
            </tr>
            <tr>
                <td>2½ X 1½</td>
                <td> Rp 13,600</td>
            </tr>
            <tr>
                <td>2½ X 2</td>
                <td> Rp 13,600</td>
            </tr>
            <tr>
                <td>3 X 1½</td>
                <td> Rp 23,000</td>
            </tr>
            <tr>
                <td>3 X 2</td>
                <td> Rp 23,000</td>
            </tr>
            <tr>
                <td>3 X 2½</td>
                <td> Rp 27,000</td>
            </tr>
            <tr>
                <td>4 X 1½</td>
                <td> Rp 35,800</td>
            </tr>
            <tr>
                <td>4 X 2</td>
                <td> Rp 30,300</td>
            </tr>
            <tr>
                <td>4 X 3</td>
                <td> Rp 36,000</td>
            </tr>
            <tr>
                <td>5 X 3</td>
                <td> Rp 48,000</td>
            </tr>
            <tr>
                <td>5 X 4</td>
                <td> Rp 48,000</td>
            </tr>
            <tr>
                <td>6 X 3</td>
                <td> Rp 89,150</td>
            </tr>
            <tr>
                <td>6 X 4</td>
                <td> Rp 103,550</td>
            </tr>
            <tr>
                <td>6 X 5</td>
                <td> Rp 124,050</td>
            </tr>
            <tr>
                <td>8 X 3</td>
                <td> Rp 396,000</td>
            </tr>
            <tr>
                <td>8 X 4</td>
                <td> Rp 419,000</td>
            </tr>
            <tr>
                <td>8 X 5</td>
                <td> Rp 449,000</td>
            </tr>
            <tr>
                <td>8 X 6</td>
                <td> Rp 469,000</td>
            </tr>
            <tr>
                <td>10 X 8</td>
                <td> Rp 903,000</td>
            </tr>
            <tr>
                <td>12 x 6</td>
                <td> -</td>
            </tr>
            <tr>
                <td>12 x 8</td>
                <td> -</td>
            </tr>
            <tr>
                <td>12 x 10</td>
                <td> -</td>
            </tr>
        </tbody>
    </table>
    <!-- tee y reduced -->
</div>
<div class="col-md-6 col-sm-12">
    <!-- elbow 45deg -->
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td colspan="2">Elbow 45°/Knee 45°</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td> Harga</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td> Rp 2,000</td>
            </tr>
            <tr>
                <td>1½</td>
                <td> Rp 2,450</td>
            </tr>
            <tr>
                <td>2</td>
                <td> Rp 4,400</td>
            </tr>
            <tr>
                <td>2½</td>
                <td> Rp 6,450</td>
            </tr>
            <tr>
                <td>3</td>
                <td> Rp 11,350</td>
            </tr>
            <tr>
                <td>4</td>
                <td> Rp 20,800</td>
            </tr>
            <tr>
                <td>5</td>
                <td> Rp 35,550</td>
            </tr>
            <tr>
                <td>6</td>
                <td> Rp 77,000</td>
            </tr>
            <tr>
                <td>8</td>
                <td> Rp 170,000</td>
            </tr>
            <tr>
                <td>10</td>
                <td> Rp 278,300</td>
            </tr>
            <tr>
                <td>12</td>
                <td> Rp 418,000</td>
            </tr>
            <tr>
                <td>14</td>
                <td> Rp -</td>
            </tr>
            <tr>
                <td>16</td>
                <td> Rp 4,725,000</td>
            </tr>
        </tbody>
    </table>
    <!-- elbow 45deg -->

    <!-- socket -->
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td colspan="2">Socket</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td> Harga</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td> Rp 1,150</td>
            </tr>
            <tr>
                <td>1½</td>
                <td> Rp 1,550</td>
            </tr>
            <tr>
                <td>2</td>
                <td> Rp 2,400</td>
            </tr>
            <tr>
                <td>2½</td>
                <td> Rp 4,000</td>
            </tr>
            <tr>
                <td>3</td>
                <td> Rp 6,650</td>
            </tr>
            <tr>
                <td>4</td>
                <td> Rp 11,600</td>
            </tr>
            <tr>
                <td>5</td>
                <td> Rp 22,600</td>
            </tr>
            <tr>
                <td>6</td>
                <td> Rp 29,000</td>
            </tr>
            <tr>
                <td>8</td>
                <td> Rp 132,500</td>
            </tr>
            <tr>
                <td>10</td>
                <td> Rp 228,000</td>
            </tr>
            <tr>
                <td>12</td>
                <td> -</td>
            </tr>
            <tr>
                <td>14</td>
                <td> -</td>
            </tr>
            <tr>
                <td>16</td>
                <td> -</td>
            </tr>
        </tbody>
    </table>
    <!-- socket -->

    <!-- tee y equal -->
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td colspan="2">Tee Y (equal)</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td> Harga</td>
            </tr>
            <tr>
                <td>1¼</td>
                <td> -</td>
            </tr>
            <tr>
                <td>1½</td>
                <td> Rp 5,600</td>
            </tr>
            <tr>
                <td>2</td>
                <td> Rp 10,500</td>
            </tr>
            <tr>
                <td>2½</td>
                <td> Rp 16,100</td>
            </tr>
            <tr>
                <td>3</td>
                <td> Rp 22,850</td>
            </tr>
            <tr>
                <td>4</td>
                <td> Rp 47,600</td>
            </tr>
            <tr>
                <td>5</td>
                <td> Rp 83,600</td>
            </tr>
            <tr>
                <td>6</td>
                <td> Rp 154,300</td>
            </tr>
            <tr>
                <td>8</td>
                <td> Rp 551,000</td>
            </tr>
            <tr>
                <td>10</td>
                <td> Rp 1,299,000</td>
            </tr>
            <tr>
                <td>12</td>
                <td> -</td>
            </tr>
            <tr>
                <td>14</td>
                <td> -</td>
            </tr>
            <tr>
                <td>16</td>
                <td> -</td>
            </tr>
        </tbody>
    </table>
    <!-- tee y equal -->

    <!-- tee reduced -->
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td colspan="2">Tee (reduced)</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>2 X 1½</td>
                <td> Rp 5,900</td>
            </tr>
            <tr>
                <td>2½ X 1½</td>
                <td> Rp 11,700</td>
            </tr>
            <tr>
                <td>2½ X 2</td>
                <td> Rp 11,700</td>
            </tr>
            <tr>
                <td>3 X 1½</td>
                <td> Rp 18,000</td>
            </tr>
            <tr>
                <td>3 X 2</td>
                <td> Rp 18,000</td>
            </tr>
            <tr>
                <td>3 X 2½</td>
                <td> Rp 18,000</td>
            </tr>
            <tr>
                <td>4 X 1½</td>
                <td> Rp 24,000</td>
            </tr>
            <tr>
                <td>4 X 2</td>
                <td> Rp 24,400</td>
            </tr>
            <tr>
                <td>4 X 3</td>
                <td> Rp 30,000</td>
            </tr>
            <tr>
                <td>5 X 3</td>
                <td> Rp 48,000</td>
            </tr>
            <tr>
                <td>5 X 4</td>
                <td> Rp 48,000</td>
            </tr>
            <tr>
                <td>6 X 3</td>
                <td> Rp 54,150</td>
            </tr>
            <tr>
                <td>6 X 4</td>
                <td> Rp 79,000</td>
            </tr>
            <tr>
                <td>6 X 5</td>
                <td> Rp 54,150</td>
            </tr>
            <tr>
                <td>8 X 3</td>
                <td> -</td>
            </tr>
            <tr>
                <td>8 X 4</td>
                <td> Rp 189,000</td>
            </tr>
            <tr>
                <td>8 X 5</td>
                <td> -</td>
            </tr>
            <tr>
                <td>8 X 6</td>
                <td> Rp 305,000</td>
            </tr>
            <tr>
                <td>10 X 8</td>
                <td> Rp 723,000</td>
            </tr>
            <tr>
                <td>12 x 6</td>
                <td> Rp 1,398,000</td>
            </tr>
            <tr>
                <td>12 x 8</td>
                <td> Rp 1,399,000</td>
            </tr>
            <tr>
                <td>12 x 10</td>
                <td> Rp 1,495,000</td>
            </tr>
        </tbody>
    </table>
    <!-- tee reduced -->

    <!-- y branch reduced -->
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td colspan="2">Y Branch (reduced)</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga</td>
            </tr>
            <tr>
                <td>2 X 1½</td>
                <td> Rp 7,750</td>
            </tr>
            <tr>
                <td>2½ X 1½</td>
                <td> Rp 13,000</td>
            </tr>
            <tr>
                <td>2½ X 2</td>
                <td> Rp 13,100</td>
            </tr>
            <tr>
                <td>3 X 1½</td>
                <td> Rp 24,000</td>
            </tr>
            <tr>
                <td>3 X 2</td>
                <td> Rp 24,000</td>
            </tr>
            <tr>
                <td>3 X 2½</td>
                <td> Rp 24,000</td>
            </tr>
            <tr>
                <td>4 X 1½</td>
                <td> Rp 44,050</td>
            </tr>
            <tr>
                <td>4 X 2</td>
                <td> Rp 33,000</td>
            </tr>
            <tr>
                <td>4 X 3</td>
                <td> Rp 42,000</td>
            </tr>
            <tr>
                <td>5 X 3</td>
                <td> Rp -</td>
            </tr>
            <tr>
                <td>5 X 4</td>
                <td> Rp 48,000</td>
            </tr>
            <tr>
                <td>6 X 3</td>
                <td> Rp 152,000</td>
            </tr>
            <tr>
                <td>6 X 4</td>
                <td> Rp 152,000</td>
            </tr>
            <tr>
                <td>6 X 5</td>
                <td> Rp 156,500</td>
            </tr>
            <tr>
                <td>8 X 3</td>
                <td> -</td>
            </tr>
            <tr>
                <td>8 X 4</td>
                <td> Rp 426,000</td>
            </tr>
            <tr>
                <td>8 X 5</td>
                <td> -</td>
            </tr>
            <tr>
                <td>8 X 6</td>
                <td> Rp 529,000</td>
            </tr>
            <tr>
                <td>10 X 8</td>
                <td> Rp 722,200</td>
            </tr>
            <tr>
                <td>12 x 6</td>
                <td> -</td>
            </tr>
            <tr>
                <td>12 x 8</td>
                <td> -</td>
            </tr>
            <tr>
                <td>12 x 10</td>
                <td> -</td>
            </tr>
        </tbody>
    </table>
    <!-- y branch reduced -->

    <!-- cross tee y -->
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td colspan="2">Cross Tee Y</td>
            </tr>
            <tr>
                <td>Ukuran (inch)</td>
                <td> Harga</td>
            </tr>
            <tr>
                <td>4</td>
                <td> Rp 76,550</td>
            </tr>
            <tr>
                <td>4 X 2</td>
                <td> Rp 65,000</td>
            </tr>
            <tr>
                <td>4 X 3</td>
                <td> Rp 75,300</td>
            </tr>
        </tbody>
    </table>
    <!-- cross tee y -->
</div>