<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th rowspan="2">OD (mm/inch)</th>
            <th colspan="2">PN 16/SDR 11/S 5</th>
        </tr>
        <tr>
            <td>Tebal (mm)</td>
            <td>Harga</td>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>20 mm (1/2")</td>
            <td>2,3</td>
            <td>Rp 7.900</td>
        </tr>
        <tr>
            <td>25 mm (3/4")</td>
            <td>2,3</td>
            <td>Rp 10.200</td>
        </tr>
        <tr>
            <td>32 mm (1")</td>
            <td>3</td>
            <td>Rp 16.900</td>
        </tr>
        <tr>
            <td>40 mm (1 1/4")</td>
            <td>3,7</td>
            <td>Rp 26.200</td>
        </tr>
        <tr>
            <td>50 mm (1 1/2")</td>
            <td>4,6</td>
            <td>Rp 40.700</td>
        </tr>
        <tr>
            <td>63 mm (2")</td>
            <td>5,8</td>
            <td>Rp 64.900</td>
        </tr>
        <tr>
            <td>75 mm (2 1/2")</td>
            <td>6,8</td>
            <td>Rp 90.400</td>
        </tr>
        <tr>
            <td>90 mm (3")</td>
            <td>8,2</td>
            <td>Rp 130.900</td>
        </tr>
        <tr>
            <td>110 mm (4")</td>
            <td>10</td>
            <td>Rp 194.700</td>
        </tr>
        <tr>
            <td>125 mm (5")</td>
            <td>&nbsp;</td>
            <td>Rp 264.000</td>
        </tr>
        <tr>
            <td>140 mm (-)</td>
            <td>&nbsp;</td>
            <td>Rp 305.200</td>
        </tr>
        <tr>
            <td>160 mm (6")</td>
            <td>14,6</td>
            <td>Rp 413.600</td>
        </tr>
        <tr>
            <td>180 mm (-)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>200 mm (8")</td>
            <td>18,2</td>
            <td>Rp 644.600</td>
        </tr>
        <tr>
            <td>250 mm (10")</td>
            <td>22,7</td>
            <td>Rp 1.005.400</td>
        </tr>
        <tr>
            <td>315 mm (12")</td>
            <td>28,6</td>
            <td>Rp 1.595.000</td>
        </tr>
        <tr>
            <td>355 mm (14")</td>
            <td>32,2</td>
            <td>Rp 2.024.000</td>
        </tr>
        <tr>
            <td>400 mm (16")</td>
            <td>36,3</td>
            <td>Rp 2.571.800</td>
        </tr>
        <tr>
            <td>450 mm (18")</td>
            <td>40,9</td>
            <td>Rp 3.259.300</td>
        </tr>
        <tr>
            <td>500 mm (20")</td>
            <td>45,4</td>
            <td>Rp 4.020.500</td>
        </tr>
        <tr>
            <td>560 mm (22")</td>
            <td>50,8</td>
            <td>Rp 4.950.000</td>
        </tr>
        <tr>
            <td>630 mm (24")</td>
            <td>57,2</td>
            <td>Rp 6.262.300</td>
        </tr>
        <tr>
            <td>710 mm (28")</td>
            <td>64,5</td>
            <td>Rp 7.931.000</td>
        </tr>
        <tr>
            <td>800 mm (32")</td>
            <td>72,6</td>
            <td>Rp 10.079.300</td>
        </tr>
    </tbody>
</table>