<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th rowspan="2">OD (mm/inch)</th>
            <th colspan="2">PN 12,5/SDR 13,6/S 6,3</th>
        </tr>
        <tr>
            <td>Tebal (mm)</td>
            <td>Harga</td>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>20 mm (1/2")</td>
            <td>1,6</td>
            <td>Rp 5.700</td>
        </tr>
        <tr>
            <td>25 mm (3/4")</td>
            <td>1,9</td>
            <td>Rp 8.600</td>
        </tr>
        <tr>
            <td>32 mm (1")</td>
            <td>2,4</td>
            <td>Rp 13.900</td>
        </tr>
        <tr>
            <td>40 mm (1 1/4")</td>
            <td>3</td>
            <td>Rp 20.100</td>
        </tr>
        <tr>
            <td>50 mm (1 1/2")</td>
            <td>3,6</td>
            <td>Rp 32.600</td>
        </tr>
        <tr>
            <td>63 mm (2")</td>
            <td>4,7</td>
            <td>Rp 53.300</td>
        </tr>
        <tr>
            <td>75 mm (2 1/2")</td>
            <td>5,6</td>
            <td>Rp 75.700</td>
        </tr>
        <tr>
            <td>90 mm (3")</td>
            <td>6,7</td>
            <td>Rp 108.900</td>
        </tr>
        <tr>
            <td>110 mm (4")</td>
            <td>8,1</td>
            <td>Rp 160.600</td>
        </tr>
        <tr>
            <td>125 mm (5")</td>
            <td>&nbsp;</td>
            <td>Rp 213.400</td>
        </tr>
        <tr>
            <td>140 mm (-)</td>
            <td>&nbsp;</td>
            <td>Rp 247.500</td>
        </tr>
        <tr>
            <td>160 mm (6")</td>
            <td>11,8</td>
            <td>Rp 341.000</td>
        </tr>
        <tr>
            <td>180 mm (-)</td>
            <td>&nbsp;</td>
            <td>Rp 435.600</td>
        </tr>
        <tr>
            <td>200 mm (8")</td>
            <td>14,7</td>
            <td>Rp 530.200</td>
        </tr>
        <tr>
            <td>250 mm (10")</td>
            <td>18,4</td>
            <td>Rp 830.500</td>
        </tr>
        <tr>
            <td>315 mm (12")</td>
            <td>23,2</td>
            <td>Rp 1.318.900</td>
        </tr>
        <tr>
            <td>355 mm (14")</td>
            <td>26,1</td>
            <td>Rp 1.672.000</td>
        </tr>
        <tr>
            <td>400 mm (16")</td>
            <td>29,4</td>
            <td>Rp 2.123.000</td>
        </tr>
        <tr>
            <td>450 mm (18")</td>
            <td>33,1</td>
            <td>Rp 2.688.400</td>
        </tr>
        <tr>
            <td>500 mm (20")</td>
            <td>36,8</td>
            <td>Rp 3.222.000</td>
        </tr>
        <tr>
            <td>560 mm (22")</td>
            <td>41,2</td>
            <td>Rp 4.078.800</td>
        </tr>
        <tr>
            <td>630 mm (24")</td>
            <td>46,3</td>
            <td>Rp 5.159.000</td>
        </tr>
        <tr>
            <td>710 mm (28")</td>
            <td>52,2</td>
            <td>Rp 6.560.400</td>
        </tr>
        <tr>
            <td>800 mm (32")</td>
            <td>58,8</td>
            <td>Rp 8.349.000</td>
        </tr>
    </tbody>
</table>