<table class="table table-bordered table-hover table-inverse">
    <tbody>
        <tr>
            <td colspan="2">UKURAN</td>
            <td colspan="2">TIPE</td>
        </tr>
        <tr>
            <td>inch</td>
            <td>mm</td>
            <td>AW</td>
            <td>D</td>
        </tr>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 11.812</td>
            <td>–</td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 14.900</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 21.057</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1 1/4″</td>
            <td>42</td>
            <td>Rp 26.899</td>
            <td>Rp 18.950</td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>48</td>
            <td>Rp 37.275</td>
            <td>Rp 24.675</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 50.137</td>
            <td>Rp 34.125</td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>76</td>
            <td>Rp 69.667</td>
            <td>Rp 41.775</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 93.530</td>
            <td>Rp 55.125</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 154.612</td>
            <td>Rp 78.067</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 233.887</td>
            <td>Rp 123.375</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 314.845</td>
            <td>Rp 159.125</td>
        </tr>
        <tr>
            <td>8″</td>
            <td>216</td>
            <td>Rp 495.000</td>
            <td>Rp 275.627</td>
        </tr>
    </tbody>
</table>