<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ukuran (inch)</th>
            <th>Diameter Luar (mm)</th>
            <th> AW mof </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>5/8"</td>
            <td>17</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1/2"</td>
            <td>22</td>
            <td>Rp 28,760 </td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>26</td>
            <td>Rp 35,010 </td>
        </tr>
        <tr>
            <td>1"</td>
            <td>32</td>
            <td>Rp 44,060 </td>
        </tr>
        <tr>
            <td>1 1/4"</td>
            <td>42</td>
            <td>Rp 62,300 </td>
        </tr>
        <tr>
            <td>1 1/2"</td>
            <td>48</td>
            <td>Rp 81,440 </td>
        </tr>
        <tr>
            <td>2"</td>
            <td>60</td>
            <td>Rp 121,560 </td>
        </tr>
        <tr>
            <td>2 1/2"</td>
            <td>76</td>
            <td>Rp 156,100 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>89</td>
            <td>Rp 222,560 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>114</td>
            <td>Rp 324,910 </td>
        </tr>
        <tr>
            <td>5"</td>
            <td>140</td>
            <td>Rp 511,710 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>165</td>
            <td>Rp 678,100 </td>
        </tr>
        <tr>
            <td>8"</td>
            <td>216</td>
            <td>Rp 1,052,910 </td>
        </tr>
        <tr>
            <td>10"</td>
            <td>267</td>
            <td>Rp 1,500,360 </td>
        </tr>
        <tr>
            <td>12"</td>
            <td>318</td>
            <td>Rp 2,141,280 </td>
        </tr>
        <tr>
            <td>14"</td>
            <td>370</td>
            <td>Rp 3,011,550 </td>
        </tr>
        <tr>
            <td>16"</td>
            <td>420</td>
            <td>Rp 3,774,190 </td>
        </tr>
        <tr>
            <td>20"</td>
            <td>520</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>24"</td>
            <td>630</td>
            <td></td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ukuran (inch)</th>
            <th>Diameter Luar (mm)</th>
            <th> D mof </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>5/8"</td>
            <td>17</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1/2"</td>
            <td>22</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>26</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1"</td>
            <td>32</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1 1/4"</td>
            <td>42</td>
            <td>Rp 38,870 </td>
        </tr>
        <tr>
            <td>1 1/2"</td>
            <td>48</td>
            <td>Rp 44,120 </td>
        </tr>
        <tr>
            <td>2"</td>
            <td>60</td>
            <td>Rp 57,980 </td>
        </tr>
        <tr>
            <td>2 1/2"</td>
            <td>76</td>
            <td>Rp 85,600 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>89</td>
            <td>Rp 124,520 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>114</td>
            <td>Rp 174,980 </td>
        </tr>
        <tr>
            <td>5"</td>
            <td>140</td>
            <td>Rp 287,520 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>165</td>
            <td>Rp 351,430 </td>
        </tr>
        <tr>
            <td>8"</td>
            <td>216</td>
            <td>Rp 619,070 </td>
        </tr>
        <tr>
            <td>10"</td>
            <td>267</td>
            <td>Rp 1,078,040 </td>
        </tr>
        <tr>
            <td>12"</td>
            <td>318</td>
            <td>Rp 1,470,470 </td>
        </tr>
        <tr>
            <td>14"</td>
            <td>370</td>
            <td>Rp 1,930,010 </td>
        </tr>
        <tr>
            <td>16"</td>
            <td>420</td>
            <td>Rp 2,500,550 </td>
        </tr>
        <tr>
            <td>20"</td>
            <td>520</td>
            <td>Rp 4,307,560 </td>
        </tr>
        <tr>
            <td>24"</td>
            <td>630</td>
            <td></td>
        </tr>
    </tbody>
</table>