<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ukuran (inch)</th>
            <th>Diameter Luar (mm)</th>
            <th>AW</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>5/8"</td>
            <td>17</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1/2"</td>
            <td>22</td>
            <td>Rp 21,490 </td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>26</td>
            <td>Rp 29,430 </td>
        </tr>
        <tr>
            <td>1"</td>
            <td>32</td>
            <td>Rp 40,230 </td>
        </tr>
        <tr>
            <td>1 1/4"</td>
            <td>42</td>
            <td>Rp 60,340 </td>
        </tr>
        <tr>
            <td>1 1/2"</td>
            <td>48</td>
            <td>Rp 69,300 </td>
        </tr>
        <tr>
            <td>2"</td>
            <td>60</td>
            <td>Rp 88,660 </td>
        </tr>
        <tr>
            <td>2 1/2"</td>
            <td>76</td>
            <td>Rp 129,370 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>89</td>
            <td>Rp 174,450 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>114</td>
            <td>Rp 289,020 </td>
        </tr>
        <tr>
            <td>5"</td>
            <td>140</td>
            <td>Rp 478,840 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>165</td>
            <td>Rp 671,650 </td>
        </tr>
        <tr>
            <td>8"</td>
            <td>216</td>
            <td>Rp 1,127,250 </td>
        </tr>
        <tr>
            <td>10"</td>
            <td>267</td>
            <td>Rp 1,743,020 </td>
        </tr>
        <tr>
            <td>12"</td>
            <td>318</td>
            <td>Rp 2,457,610 </td>
        </tr>
        <tr>
            <td>14"</td>
            <td>370</td>
            <td>Rp 3,364,990 </td>
        </tr>
        <tr>
            <td>16"</td>
            <td>420</td>
            <td>Rp 4,206,090 </td>
        </tr>
        <tr>
            <td>20"</td>
            <td>520</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>24"</td>
            <td>630</td>
            <td></td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ukuran (inch)</th>
            <th>Diameter Luar (mm)</th>
            <th>D</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>5/8"</td>
            <td>17</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1/2"</td>
            <td>22</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>26</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1"</td>
            <td>32</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1 1/4"</td>
            <td>42</td>
            <td>Rp 37,880 </td>
        </tr>
        <tr>
            <td>1 1/2"</td>
            <td>48</td>
            <td>Rp 42,850 </td>
        </tr>
        <tr>
            <td>2"</td>
            <td>60</td>
            <td>Rp 54,880 </td>
        </tr>
        <tr>
            <td>2 1/2"</td>
            <td>76</td>
            <td>Rp 74,250 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>89</td>
            <td>Rp 94,250 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>114</td>
            <td>Rp 148,250 </td>
        </tr>
        <tr>
            <td>5"</td>
            <td>140</td>
            <td>Rp 239,000 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>165</td>
            <td>Rp 315,220 </td>
        </tr>
        <tr>
            <td>8"</td>
            <td>216</td>
            <td>Rp 554,440 </td>
        </tr>
        <tr>
            <td>10"</td>
            <td>267</td>
            <td>Rp 913,360 </td>
        </tr>
        <tr>
            <td>12"</td>
            <td>318</td>
            <td>Rp 1,282,190 </td>
        </tr>
        <tr>
            <td>14"</td>
            <td>370</td>
            <td>Rp 2,146,500 </td>
        </tr>
        <tr>
            <td>16"</td>
            <td>420</td>
            <td>Rp 2,778,400 </td>
        </tr>
        <tr>
            <td>20"</td>
            <td>520</td>
            <td>Rp 4,398,660 </td>
        </tr>
        <tr>
            <td>24"</td>
            <td>630</td>
            <td>Rp 6,250,020 </td>
        </tr>
    </tbody>
</table>