<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="2">Dimensi</th>
            <th colspan="3">JIS - VP</th>
        </tr>
        <tr>
            <td>ND (inch)</td>
            <td>OD (mm)</td>
            <td>Tebal (mm)</td>
            <td>TS End (Rp.)</td>
            <td>Bell End (Rp.)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>5/8"</td>
            <td>17</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1/2"</td>
            <td>22</td>
            <td>2.7</td>
            <td>Rp 42,000 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>26</td>
            <td>2.7</td>
            <td>Rp 50,500 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1"</td>
            <td>32</td>
            <td>3.1</td>
            <td>Rp 73,500 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4"</td>
            <td>42</td>
            <td>3.5</td>
            <td>Rp 99,250 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/2"</td>
            <td>48</td>
            <td>3.6</td>
            <td>Rp 128,800 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2"</td>
            <td>60</td>
            <td>4.1</td>
            <td>Rp 183,100 </td>
            <td>Rp 188,200 </td>
        </tr>
        <tr>
            <td>2-1/2"</td>
            <td>76</td>
            <td>4.1</td>
            <td>Rp 235,600 </td>
            <td>Rp 257,400 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>89</td>
            <td>5.5</td>
            <td>Rp 375,400 </td>
            <td>Rp 388,950 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>114</td>
            <td>6.6</td>
            <td>Rp 580,200 </td>
            <td>Rp 603,750 </td>
        </tr>
        <tr>
            <td>5"</td>
            <td>140</td>
            <td>7.0</td>
            <td>Rp 726,400 </td>
            <td>Rp 756,350 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>165</td>
            <td>8.9</td>
            <td>Rp 1,090,700 </td>
            <td>Rp 1,141,950 </td>
        </tr>
        <tr>
            <td>8"</td>
            <td>216</td>
            <td>10.3</td>
            <td>Rp 1,649,500 </td>
            <td>Rp 1,730,750 </td>
        </tr>
        <tr>
            <td>10"</td>
            <td>267</td>
            <td>12.7</td>
            <td>Rp 2,513,000 </td>
            <td>Rp 2,629,500 </td>
        </tr>
        <tr>
            <td>12"</td>
            <td>318</td>
            <td>15.1</td>
            <td>Rp 3,565,000 </td>
            <td>Rp 3,759,550 </td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="2">Dimensi</th>
            <th colspan="3">JIS - VU</th>
        </tr>
        <tr>
            <td>ND (inch)</td>
            <td>OD (mm)</td>
            <td>Tebal (mm)</td>
            <td>TS End (Rp.)</td>
            <td>Bell End (Rp.)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>5/8"</td>
            <td>17</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1/2"</td>
            <td>22</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>26</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1"</td>
            <td>32</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4"</td>
            <td>42</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/2"</td>
            <td>48</td>
            <td>1.8</td>
            <td>Rp 67,500 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2"</td>
            <td>60</td>
            <td>1.8</td>
            <td>Rp 85,200 </td>
            <td>Rp 90,250 </td>
        </tr>
        <tr>
            <td>2-1/2"</td>
            <td>76</td>
            <td>2.2</td>
            <td>Rp 134,800 </td>
            <td>Rp 156,600 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>89</td>
            <td>2.7</td>
            <td>Rp 197,200 </td>
            <td>Rp 210,800 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>114</td>
            <td>3.1</td>
            <td>Rp 296,100 </td>
            <td>Rp 319,700 </td>
        </tr>
        <tr>
            <td>5"</td>
            <td>140</td>
            <td>4.1</td>
            <td>Rp 446,000 </td>
            <td>Rp 476,000 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>165</td>
            <td>5.1</td>
            <td>Rp 641,000 </td>
            <td>Rp 692,250 </td>
        </tr>
        <tr>
            <td>8"</td>
            <td>216</td>
            <td>6.5</td>
            <td>Rp 1,069,800 </td>
            <td>Rp 1,151,000 </td>
        </tr>
        <tr>
            <td>10"</td>
            <td>267</td>
            <td>7.8</td>
            <td>Rp 1,584,000 </td>
            <td>Rp 1,700,500 </td>
        </tr>
        <tr>
            <td>12"</td>
            <td>318</td>
            <td>9.2</td>
            <td>Rp 2,440,000 </td>
            <td>Rp 2,634,550 </td>
        </tr>
    </tbody>
</table>