{{ partial "header-default" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                {{ partial "menu/pipa-pvc" . }}
            </div>
        </div>
        <hr>
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <div class="text-center">
                    <h2>Pipa PVC JIS AW/D</h2>

                    <a href="{{ .Site.BaseURL }}harga-pipa-pvc/rucika" class="btn btn-sm">Harga Pipa PVC Rucika</a>
                    <a href="{{ .Site.BaseURL }}harga-pipa-pvc/pralon" class="btn btn-sm">Harga Pipa PVC Pralon</a>
                    <a href="{{ .Site.BaseURL }}harga-pipa-pvc/vinilon" class="btn btn-sm">Harga Pipa PVC Vinilon</a>
                    <a href="{{ .Site.BaseURL }}harga-pipa-pvc/intilon" class="btn btn-sm">Harga Pipa PVC Intilon</a>
                    <a href="{{ .Site.BaseURL }}harga-pipa-pvc/langgeng" class="btn btn-sm">Harga Pipa PVC Langgeng</a>

                    <hr>

                    <h2>Pipa PVC Murah</h2>

                    <a href="{{ .Site.BaseURL }}harga-pipa-pvc/signature" class="btn btn-sm">Harga Pipa PVC Signature</a>
                    <a href="{{ .Site.BaseURL }}harga-pipa-pvc/samsunglon" class="btn btn-sm">Harga Pipa PVC Samsunglon</a>
                    <a href="{{ .Site.BaseURL }}harga-pipa-pvc/champion" class="btn btn-sm">Harga Pipa PVC Champion</a>
                    <a href="{{ .Site.BaseURL }}harga-pipa-pvc/pacific" class="btn btn-sm">Harga Pipa PVC Pacific</a>
                    <a href="{{ .Site.BaseURL }}harga-pipa-pvc/supramas" class="btn btn-sm">Harga Pipa PVC Supramas</a>

                    <hr>

                    <h2>Pipa PVC SNI</h2>

                    <a href="{{ .Site.BaseURL }}harga-pipa-pvc/swallow-sni" class="btn btn-sm">Harga Pipa PVC Swallow
                        (SNI)</a>

                    <hr>

                    <h2>Pipa PVC Air Limbah</h2>

                    <a href="{{ .Site.BaseURL }}harga-pipa-pvc/swallow-air-limbah" class="btn btn-sm">Harga Pipa PVC
                        Swallow
                        <br />(Air Limbah)</a>

                </div> <!-- text-center -->
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}