{{ partial "header-default" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12">
                <h2 class="text-center">Pipa PVC JIS AW/D</h2>
            </div>

            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12 text-center">
                <a href="{{ .Site.BaseURL }}harga-pipa-pvc/rucika" class="btn btn-default">Harga Pipa PVC Rucika</a>
                <a href="{{ .Site.BaseURL }}harga-pipa-pvc/pralon" class="btn btn-default">Harga Pipa PVC Pralon</a>
                <a href="{{ .Site.BaseURL }}harga-pipa-pvc/vinilon" class="btn btn-default">Harga Pipa PVC Vinilon</a>
                <a href="{{ .Site.BaseURL }}harga-pipa-pvc/intilon" class="btn btn-default">Harga Pipa PVC Intilon</a>
            </div>

            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12">
                <h2 class="text-center">Pipa PVC SNI</h2>
            </div>

            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12 text-center">
                <a href="{{ .Site.BaseURL }}harga-pipa-pvc/swallow-sni" class="btn btn-default">Harga Pipa PVC Swallow (SNI)</a>

                <a href="{{ .Site.BaseURL }}harga-pipa-pvc/vinilon-sni" class="btn btn-default">Harga Pipa PVC Vinilon (SNI)</a>
            </div>
            
            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12">
                <h2 class="text-center">Pipa PVC Air Limbah</h2>
            </div>

            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12 text-center">
                <a href="{{ .Site.BaseURL }}harga-pipa-pvc/swallow-air-limbah" class="btn btn-default">Harga Pipa PVC Swallow
                    <br />(Air Limbah)</a>

                <a href="{{ .Site.BaseURL }}harga-pipa-pvc/vinilon-air-limbah" class="btn btn-default">Harga Pipa PVC Vinilon
                    <br />(Air Limbah)</a>
            </div>

            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12">
                <h2 class="text-center">Pipa PVC Murah</h2>
            </div>

            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Pipa PVC Signature</h3>
                {{ partial "supplier/nkr" . }} {{ partial "pipa/pvc-signature-aw-d" . }}
            </div>

            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Pipa PVC Samsunglon</h3>
                {{ partial "supplier/nkr" . }} {{ partial "pipa/pvc-samsunglon-aw-d" . }}
            </div>
        </div>

        <div class="clear" style="margin-bottom:30px;"></div>

        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Pipa PVC Champion</h3>
                {{ partial "supplier/nkr" . }} {{ partial "pipa/pvc-champion-aw-d" . }}
            </div>
            
            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Pipa PVC Pacific</h3>
                {{ partial "supplier/nkr" . }} {{ partial "pipa/pvc-pacific-aw-d" . }}
            </div>            
            
            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Pipa PVC Supramas</h3>
                {{ partial "supplier/nkr" . }} {{ partial "pipa/pvc-supramas-aw-d" . }}
            </div>

            
        </div>
    </div>
</div>

{{ partial "footer" . }}