{{ partial "header-default" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            {{ partial "menu/pipa-pvc" . }}

            <hr>

            <div class="col-md-12 col-sm-12">
                <p>Pipa PVC Langgeng AW/D tersedia dalam ukuran diameter besar yang jarang dijual oleh pabrikan pipa
                    PVC
                    pada umumnya. Biasanya pipa PVC AW/D yang beredar di pasaran paling besar hanya mencapai 12 inch
                    (sekitar 30 cm) saja, apabila anda membutuhkan pipa PVC AW/D dengan diameter 14 inch, 16 inch, 20
                    inch
                    sampai 24 inch maka anda dapat menggunakan pipa PVC Langgeng. Dapatkan harga pipa PVC Langgeng
                    diameter
                    besar hanya di DepoHarga.com</p>
                <div class="text-center">
                    <h3>Harga Pipa PVC Langgeng (WARNA PUTIH)</h3>
                    {{ partial "pipa/pvc-langgeng-putih" . }}
                    
                    <br><br>
                    
                    <h3>Harga Pipa PVC Langgeng (WARNA ABU-ABU)</h3>
                    {{ partial "pipa/pvc-langgeng-abu" . }}
                </div>
            </div>
        </div><!-- content row -->
    </div>
</div>

{{ partial "footer" . }}