{{ partial "header-default-amp" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            {{ partial "menu/pipa-pvc" . }}
            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Pipa PVC Pralon AW/D</h3>
                {{ partial "supplier/none" . }} {{ partial "pipa/pvc-pralon-aw-d" . }}
            </div>

            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Pipa PVC Intilon JIS</h3>
                {{ partial "supplier/none" . }} {{ partial "pipa/pvc-pralon-jis" . }}
            </div>

        </div>
    </div>
</div>

{{ partial "footer" . }}