{{ partial "amp/header" . }}

<div class="page-content">
    <div class="page-content-scroll">
        <div class="decoration decoration-margins"></div>
        <div class="content">
            <div class="container center-text">
                {{ partial "menu/pipa-pvc-amp" . }}
            </div>
            <div class="container">
                <h1 class="center-text uppercase">{{ .Title }}</h1>
            </div>
            <div class="container">
                <h3 class="center-text half-bottom">Harga Pipa PVC Rucika Standard AW/D</h3>
                <div class="center-text">{{ partial "supplier/nkr" . }}</div>
                {{ partial "pipa/pvc-rucika-std" . }}
            </div>
            <div class="container">
                <h3 class="center-text half-bottom">Harga Pipa PVC Rucika JIS VP/VU</h3>
                <div class="center-text">{{ partial "supplier/nkr" . }}</div>
                {{ partial "pipa/pvc-rucika-jis" . }}
            </div>
        </div>
    </div>
</div>

{{ partial "amp/footer" . }}