{{ partial "header-default" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            {{ partial "menu/pipa-pvc" . }}

            <hr>

            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Pipa PVC Samsunglon AW/D</h3>
                {{ partial "supplier/nkr" . }}

                <table class="table table-bordered table-hover table-inverse">
                    <tbody>
                        <tr>
                            <td colspan="2">UKURAN</td>
                            <td colspan="2">TIPE</td>
                        </tr>
                        <tr>
                            <td>inch</td>
                            <td>mm</td>
                            <td>AW</td>
                            <td>D</td>
                        </tr>
                        <tr>
                            <td>1/2″</td>
                            <td>22</td>
                            <td>Rp 19.682</td>
                            <td>–</td>
                        </tr>
                        <tr>
                            <td>3/4″</td>
                            <td>26</td>
                            <td>Rp 23.618</td>
                            <td>–</td>
                        </tr>
                        <tr>
                            <td>1″</td>
                            <td>32</td>
                            <td>Rp 33.741</td>
                            <td>–</td>
                        </tr>
                        <tr>
                            <td>1 1/4″</td>
                            <td>42</td>
                            <td>Rp 44.120</td>
                            <td>Rp 28.117</td>
                        </tr>
                        <tr>
                            <td>1 1/2″</td>
                            <td>48</td>
                            <td>Rp 56.235</td>
                            <td>Rp 33.741</td>
                        </tr>
                        <tr>
                            <td>2″</td>
                            <td>60</td>
                            <td>Rp 80.135</td>
                            <td>Rp 47.799</td>
                        </tr>
                        <tr>
                            <td>2 1/2″</td>
                            <td>76</td>
                            <td>Rp 108.253</td>
                            <td>Rp 61.296</td>
                        </tr>
                        <tr>
                            <td>3″</td>
                            <td>89</td>
                            <td>Rp 154.646</td>
                            <td>Rp 76.479</td>
                        </tr>
                        <tr>
                            <td>4″</td>
                            <td>114</td>
                            <td>Rp 253.994</td>
                            <td>Rp 126.528</td>
                        </tr>
                        <tr>
                            <td>5″</td>
                            <td>140</td>
                            <td>Rp 365.527</td>
                            <td>Rp 185.575</td>
                        </tr>
                        <tr>
                            <td>6″</td>
                            <td>165</td>
                            <td>Rp 463.938</td>
                            <td>Rp 230.563</td>
                        </tr>
                        <tr>
                            <td>8″</td>
                            <td>216</td>
                            <td>Rp 777.449</td>
                            <td>Rp 403.468</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}