{{ partial "header-default" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            {{ partial "menu/pipa-pvc" . }}
            
            <hr>

            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Pipa PVC Samsunglon AW/D</h3>
                {{ partial "supplier/nkr" . }} {{ partial "pipa/pvc-samsunglon-aw-d" . }}
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}