{{ partial "header-default" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            {{ partial "menu/pipa-pvc" . }}

            <hr>

            <div class="col-md-12 col-sm-12">
                <div class="text-center">
                    <h3>Harga Pipa PVC Vinilon AW/D</h3>
                    {{ partial "supplier/none" . }} {{ partial "pipa/pvc-vinilon-aw-d" . }}

                    <br><br>

                    <h3>Harga Pipa PVC Vinilon JIS</h3>
                    {{ partial "supplier/none" . }} {{ partial "pipa/pvc-vinilon-jis" . }}
                </div>
            </div>

        </div>
    </div>
</div>

{{ partial "footer" . }}