{{ partial "header-default" . }}

<div class="section section-contents section-pad-sm">
    <div class="container">
        <div class="content row">
            {{ partial "menu/fitting-pvc" . }}
            <hr>
            <div class="col-md-12 col-lg-12">
                <div class="text-center">
                    <h3>Harga Socket Drat Dalam (Kuningan) PVC Rucika AW</h3>

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2">Socket Drat Dalam Kuningan</th>
                            </tr>
                            <tr>
                                <td>Ukuran (inch)</td>
                                <td>Harga/pcs (Rp)</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1/2"</td>
                                <td>Rp 8,400 </td>
                            </tr>
                            <tr>
                                <td>1/2" x 3/4"</td>
                                <td>Rp 12,500 </td>
                            </tr>
                            <tr>
                                <td>3/4"</td>
                                <td>Rp 14,200 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}