<div class="text-center">
    <h2>Pipa PVC JIS AW/D</h2>

    <div class="btn-group-vertical">
        <a href="./rucika" class="btn btn-primary btn-sm">Harga Pipa PVC Rucika</a>
        <a href="./pralon" class="btn btn-primary btn-sm">Harga Pipa PVC Pralon</a>
        <a href="./vinilon" class="btn btn-primary btn-sm">Harga Pipa PVC Vinilon</a>
        <a href="./intilon" class="btn btn-primary btn-sm">Harga Pipa PVC Intilon</a>
        <a href="./langgeng" class="btn btn-primary btn-sm">Harga Pipa PVC Langgeng</a>
    </div>

    <h2>Pipa PVC Murah</h2>
    <div class="btn-group-vertical">
        <a href="./signature" class="btn btn-primary btn-sm">Harga Pipa PVC Signature</a>
        <a href="./samsunglon" class="btn btn-primary btn-sm">Harga Pipa PVC Samsunglon</a>
        <a href="./champion" class="btn btn-primary btn-sm">Harga Pipa PVC Champion</a>
        <a href="./pacific" class="btn btn-primary btn-sm">Harga Pipa PVC Pacific</a>
        <a href="./supramas" class="btn btn-primary btn-sm">Harga Pipa PVC Supramas</a>
    </div>


    <hr>

    <h2>Pipa PVC SNI</h2>

    <a href="./swallow-sni" class="btn btn-primary btn-sm">Harga Pipa PVC Swallow
        (SNI)</a>

    <hr>

    <h2>Pipa PVC Air Limbah</h2>

    <a href="./swallow-air-limbah" class="btn btn-primary btn-sm">Harga Pipa PVC
        Swallow
        <br />(Air Limbah)</a>

</div> <!-- text-center -->