{{ partial "menu/pipa-pvc" . }}

<hr>

<div class="text-center">
    <h3>Harga Pipa PVC Supramas AW/D</h3>
    {{ partial "supplier/none" . }}

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th colspan="2">Ukuran</th>
                <th colspan="2"> Tipe </th>
            </tr>
            <tr>
                <td>Inch</td>
                <td>mm</td>
                <td> AW </td>
                <td> D </td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1/2″</td>
                <td>22</td>
                <td> Rp 17.495 </td>
                <td> - </td>
            </tr>
            <tr>
                <td>3/4″</td>
                <td>26</td>
                <td> Rp 24.390 </td>
                <td> - </td>
            </tr>
            <tr>
                <td>1″</td>
                <td>32</td>
                <td> Rp 33.880 </td>
                <td> - </td>
            </tr>
            <tr>
                <td>1-1/4″</td>
                <td>42</td>
                <td> Rp 49.350 </td>
                <td> Rp 29.390 </td>
            </tr>
            <tr>
                <td>1-1/2″</td>
                <td>48</td>
                <td> Rp 59.750 </td>
                <td> Rp 34.430 </td>
            </tr>
            <tr>
                <td>2″</td>
                <td>60</td>
                <td> Rp 72.250 </td>
                <td> Rp 44.760 </td>
            </tr>
            <tr>
                <td>2-1/2″</td>
                <td>76</td>
                <td> Rp 105.050 </td>
                <td> Rp 59.620 </td>
            </tr>
            <tr>
                <td>3″</td>
                <td>89</td>
                <td> Rp 149.845 </td>
                <td> Rp 81.815 </td>
            </tr>
            <tr>
                <td>4″</td>
                <td>114</td>
                <td> Rp 254.150 </td>
                <td> Rp 127.420 </td>
            </tr>
            <tr>
                <td>5″</td>
                <td>140</td>
                <td> Rp 410.555 </td>
                <td> Rp 195.900 </td>
            </tr>
            <tr>
                <td>6″</td>
                <td>165</td>
                <td> Rp 566.250 </td>
                <td> Rp 265.715 </td>
            </tr>
            <tr>
                <td>8″</td>
                <td>216</td>
                <td> Rp 503.370 </td>
                <td> Rp 482.505 </td>
            </tr>
            <tr>
                <td>10″</td>
                <td>267</td>
                <td> Rp 1.366.110 </td>
                <td> Rp 755.450 </td>
            </tr>
            <tr>
                <td>12″</td>
                <td>318</td>
                <td> Rp 1.997.810 </td>
                <td> Rp 1.094.445 </td>
            </tr>
            <tr>
                <td>14″</td>
                <td>370</td>
                <td> Rp 2.811.070 </td>
                <td> Rp 1.810.600 </td>
            </tr>
            <tr>
                <td>16″</td>
                <td>420</td>
                <td> Rp 3.531.550 </td>
                <td> Rp 2.343.550 </td>
            </tr>
            <tr>
                <td>20″</td>
                <td>520</td>
                <td> - </td>
                <td> Rp 4.048.195 </td>
            </tr>
        </tbody>
    </table>
</div>