{{ partial "menu/pipa-pvc" . }}

<hr>

<div class="text-center">
    <h3>Harga Pipa PVC Swallow SNI</h3>
    {{ partial "supplier/none" . }}

    <strong>* SCJ = Solvent Cement Joint (Lem)</strong><br>
    <strong>* RRJ = Rubber Ring Joint</strong><br>
    <strong>* 1 batang = 6 meter</strong><br>
    <strong>* Harga BELUM termasuk PPN 10%</strong><br>
    <strong>* Franco Jakarta</strong><br><br>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Diameter</th>
                <th colspan="2">S-8 (15 bar)</th>
            </tr>
            <tr>
                <td>inch (mm)</td>
                <td>SCJ</td>
                <td>RRJ</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1/2" (20mm)</td>
                <td>Rp 4,700 </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>3/4" (25mm)</td>
                <td>Rp 7,300 </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1" (32mm)</td>
                <td>Rp 11,700 </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1 1/4" (40mm)</td>
                <td>Rp 18,400 </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1 1/2" (50mm)</td>
                <td>Rp 29,300 </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>2" (63mm)</td>
                <td>&nbsp;</td>
                <td>Rp 46,500 </td>
            </tr>
            <tr>
                <td>2 1/2" (75mm)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>3" (90mm)</td>
                <td>&nbsp;</td>
                <td>Rp 94,400 </td>
            </tr>
            <tr>
                <td>4" (110mm)</td>
                <td>&nbsp;</td>
                <td>Rp 141,200 </td>
            </tr>
            <tr>
                <td>6" (160mm)</td>
                <td>&nbsp;</td>
                <td>Rp 294,300 </td>
            </tr>
            <tr>
                <td>8" (200mm)</td>
                <td>&nbsp;</td>
                <td>Rp 461,000 </td>
            </tr>
            <tr>
                <td>8" (225mm)</td>
                <td>&nbsp;</td>
                <td>Rp 583,400 </td>
            </tr>
            <tr>
                <td>10" (250mm)</td>
                <td>&nbsp;</td>
                <td>Rp 719,000 </td>
            </tr>
            <tr>
                <td>10" (280mm)</td>
                <td>&nbsp;</td>
                <td>Rp 904,800 </td>
            </tr>
            <tr>
                <td>12" (315mm)</td>
                <td>&nbsp;</td>
                <td>Rp 1,147,400 </td>
            </tr>
            <tr>
                <td>14" (355mm)</td>
                <td>&nbsp;</td>
                <td>Rp 1,461,000 </td>
            </tr>
            <tr>
                <td>16" (400mm)</td>
                <td>&nbsp;</td>
                <td>Rp 1,884,200 </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Diameter</th>
                <th colspan="2">S-10 (12.5 bar)</th>
            </tr>
            <tr>
                <td>inch (mm)</td>
                <td>SCJ</td>
                <td>RRJ</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1/2" (20mm)</td>
                <td>Rp 3,700 </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>3/4" (25mm)</td>
                <td>Rp 5,900 </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1" (32mm)</td>
                <td>Rp 9,700 </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1 1/4" (40mm)</td>
                <td>Rp 14,700 </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1 1/2" (50mm)</td>
                <td>Rp 23,500 </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>2" (63mm)</td>
                <td>&nbsp;</td>
                <td>Rp 37,300 </td>
            </tr>
            <tr>
                <td>2 1/2" (75mm)</td>
                <td>&nbsp;</td>
                <td>Rp 52,300 </td>
            </tr>
            <tr>
                <td>3" (90mm)</td>
                <td>&nbsp;</td>
                <td>Rp 77,100 </td>
            </tr>
            <tr>
                <td>4" (110mm)</td>
                <td>&nbsp;</td>
                <td>Rp 115,200 </td>
            </tr>
            <tr>
                <td>6" (160mm)</td>
                <td>&nbsp;</td>
                <td>Rp 243,000 </td>
            </tr>
            <tr>
                <td>8" (200mm)</td>
                <td>&nbsp;</td>
                <td>Rp 378,500 </td>
            </tr>
            <tr>
                <td>8" (225mm)</td>
                <td>&nbsp;</td>
                <td>Rp 480,800 </td>
            </tr>
            <tr>
                <td>10" (250mm)</td>
                <td>&nbsp;</td>
                <td>Rp 588,600 </td>
            </tr>
            <tr>
                <td>10" (280mm)</td>
                <td>&nbsp;</td>
                <td>Rp 472,000 </td>
            </tr>
            <tr>
                <td>12" (315mm)</td>
                <td>&nbsp;</td>
                <td>Rp 935,600 </td>
            </tr>
            <tr>
                <td>14" (355mm)</td>
                <td>&nbsp;</td>
                <td>Rp 1,189,000 </td>
            </tr>
            <tr>
                <td>16" (400mm)</td>
                <td>&nbsp;</td>
                <td>Rp 1,484,700 </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Diameter</th>
                <th colspan="2">S-12.5 (10 bar)</th>
            </tr>
            <tr>
                <td>inch (mm)</td>
                <td>SCJ</td>
                <td>RRJ</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1/2" (20mm)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>3/4" (25mm)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1" (32mm)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1 1/4" (40mm)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1 1/2" (50mm)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>2" (63mm)</td>
                <td>&nbsp;</td>
                <td>Rp 30,700 </td>
            </tr>
            <tr>
                <td>2 1/2" (75mm)</td>
                <td>&nbsp;</td>
                <td>Rp 43,500 </td>
            </tr>
            <tr>
                <td>3" (90mm)</td>
                <td>&nbsp;</td>
                <td>Rp 62,900 </td>
            </tr>
            <tr>
                <td>4" (110mm)</td>
                <td>&nbsp;</td>
                <td>Rp 92,500 </td>
            </tr>
            <tr>
                <td>6" (160mm)</td>
                <td>&nbsp;</td>
                <td>Rp 197,200 </td>
            </tr>
            <tr>
                <td>8" (200mm)</td>
                <td>&nbsp;</td>
                <td>Rp 307,100 </td>
            </tr>
            <tr>
                <td>8" (225mm)</td>
                <td>&nbsp;</td>
                <td>Rp 387,000 </td>
            </tr>
            <tr>
                <td>10" (250mm)</td>
                <td>&nbsp;</td>
                <td>Rp 479,900 </td>
            </tr>
            <tr>
                <td>10" (280mm)</td>
                <td>&nbsp;</td>
                <td>Rp 599,800 </td>
            </tr>
            <tr>
                <td>12" (315mm)</td>
                <td>&nbsp;</td>
                <td>Rp 765,700 </td>
            </tr>
            <tr>
                <td>14" (355mm)</td>
                <td>&nbsp;</td>
                <td>Rp 971,300 </td>
            </tr>
            <tr>
                <td>16" (400mm)</td>
                <td>&nbsp;</td>
                <td>Rp 1,199,600 </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Diameter</th>
                <th colspan="2">S-16 (8 bar)</th>
            </tr>
            <tr>
                <td>inch (mm)</td>
                <td>SCJ</td>
                <td>RRJ</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1/2" (20mm)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>3/4" (25mm)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1" (32mm)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1 1/4" (40mm)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1 1/2" (50mm)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>2" (63mm)</td>
                <td>&nbsp;</td>
                <td>Rp 25,300 </td>
            </tr>
            <tr>
                <td>2 1/2" (75mm)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>3" (90mm)</td>
                <td>&nbsp;</td>
                <td>Rp 50,700 </td>
            </tr>
            <tr>
                <td>4" (110mm)</td>
                <td>&nbsp;</td>
                <td>Rp 76,200 </td>
            </tr>
            <tr>
                <td>6" (160mm)</td>
                <td>&nbsp;</td>
                <td>Rp 160,100 </td>
            </tr>
            <tr>
                <td>8" (200mm)</td>
                <td>&nbsp;</td>
                <td>Rp 247,400 </td>
            </tr>
            <tr>
                <td>8" (225mm)</td>
                <td>&nbsp;</td>
                <td>Rp 310,300 </td>
            </tr>
            <tr>
                <td>10" (250mm)</td>
                <td>&nbsp;</td>
                <td>Rp 386,300 </td>
            </tr>
            <tr>
                <td>10" (280mm)</td>
                <td>&nbsp;</td>
                <td>Rp 484,200 </td>
            </tr>
            <tr>
                <td>12" (315mm)</td>
                <td>&nbsp;</td>
                <td>Rp 617,100 </td>
            </tr>
            <tr>
                <td>14" (355mm)</td>
                <td>&nbsp;</td>
                <td>Rp 782,200 </td>
            </tr>
            <tr>
                <td>16" (400mm)</td>
                <td>&nbsp;</td>
                <td>Rp 963,700 </td>
            </tr>
        </tbody>
    </table>
</div>