{{ partial "menu/pipa-pvc" . }}

<hr>
<div class="text-center">
    <h3>Harga Pipa PVC Vinilon AW/D</h3>
    {{ partial "supplier/none" . }}

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ND</th>
                <th>OD</th>
                <th>AW 10 Kg/Cm2</th>
            </tr>
            <tr>
                <td>(inch-mm)</td>
                <td>(mm)</td>
                <td>Harga</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>5/8" - 13</td>
                <td>17</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1/2" - 16</td>
                <td>22</td>
                <td>Rp 20,000 </td>
            </tr>
            <tr>
                <td>3/4" - 10</td>
                <td>26</td>
                <td>Rp 27,900 </td>
            </tr>
            <tr>
                <td>1" - 25</td>
                <td>32</td>
                <td>Rp 39,200 </td>
            </tr>
            <tr>
                <td>1-1/4" - 32</td>
                <td>42</td>
                <td>Rp 56,000 </td>
            </tr>
            <tr>
                <td>1-1/2" - 40</td>
                <td>48</td>
                <td>Rp 66,500 </td>
            </tr>
            <tr>
                <td>2" - 50</td>
                <td>60</td>
                <td>Rp 85,200 </td>
            </tr>
            <tr>
                <td>2-1/2" - 65</td>
                <td>76</td>
                <td>Rp 123,300 </td>
            </tr>
            <tr>
                <td>3" - 75</td>
                <td>89</td>
                <td>Rp 177,800 </td>
            </tr>
            <tr>
                <td>4" - 100</td>
                <td>114</td>
                <td>Rp 292,400 </td>
            </tr>
            <tr>
                <td>5" - 125</td>
                <td>140</td>
                <td>Rp 452,000 </td>
            </tr>
            <tr>
                <td>6" - 150</td>
                <td>165</td>
                <td>Rp 620,300 </td>
            </tr>
            <tr>
                <td>8" - 200</td>
                <td>216</td>
                <td>Rp 1,048,900 </td>
            </tr>
            <tr>
                <td>10" - 250</td>
                <td>267</td>
                <td>Rp 1,567,000 </td>
            </tr>
            <tr>
                <td>12" - 300</td>
                <td>318</td>
                <td>Rp 2,346,100 </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ND</th>
                <th>OD</th>
                <th>D 5 Kg/Cm2</th>
            </tr>
            <tr>
                <td>(inch-mm)</td>
                <td>(mm)</td>
                <td>Harga</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>5/8" - 13</td>
                <td>17</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1/2" - 16</td>
                <td>22</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>3/4" - 10</td>
                <td>26</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1" - 25</td>
                <td>32</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1-1/4" - 32</td>
                <td>42</td>
                <td>Rp 35,700 </td>
            </tr>
            <tr>
                <td>1-1/2" - 40</td>
                <td>48</td>
                <td>Rp 41,500 </td>
            </tr>
            <tr>
                <td>2" - 50</td>
                <td>60</td>
                <td>Rp 52,700 </td>
            </tr>
            <tr>
                <td>2-1/2" - 65</td>
                <td>76</td>
                <td>Rp 70,400 </td>
            </tr>
            <tr>
                <td>3" - 75</td>
                <td>89</td>
                <td>Rp 98,300 </td>
            </tr>
            <tr>
                <td>4" - 100</td>
                <td>114</td>
                <td>Rp 150,900 </td>
            </tr>
            <tr>
                <td>5" - 125</td>
                <td>140</td>
                <td>Rp 230,100 </td>
            </tr>
            <tr>
                <td>6" - 150</td>
                <td>165</td>
                <td>Rp 313,600 </td>
            </tr>
            <tr>
                <td>8" - 200</td>
                <td>216</td>
                <td>Rp 534,000 </td>
            </tr>
            <tr>
                <td>10" - 250</td>
                <td>267</td>
                <td>Rp 873,500 </td>
            </tr>
            <tr>
                <td>12" - 300</td>
                <td>318</td>
                <td>Rp 1,248,800 </td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <h3>Harga Pipa PVC Vinilon JIS</h3>
    {{ partial "supplier/none" . }}

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ND</th>
                <th>OD</th>
                <th>VP 10 Kg/Cm2</th>
            </tr>
            <tr>
                <td>(inch-mm)</td>
                <td>(mm)</td>
                <td>Harga</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>5/8" - 13</td>
                <td>17</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1/2" - 16</td>
                <td>22</td>
                <td>Rp 36,200 </td>
            </tr>
            <tr>
                <td>3/4" - 10</td>
                <td>26</td>
                <td>Rp 41,900 </td>
            </tr>
            <tr>
                <td>1" - 25</td>
                <td>32</td>
                <td>Rp 59,900 </td>
            </tr>
            <tr>
                <td>1-1/4" - 32</td>
                <td>42</td>
                <td>Rp 83,600 </td>
            </tr>
            <tr>
                <td>1-1/2" - 40</td>
                <td>48</td>
                <td>Rp 105,600 </td>
            </tr>
            <tr>
                <td>2" - 50</td>
                <td>60</td>
                <td>Rp 148,400 </td>
            </tr>
            <tr>
                <td>2-1/2" - 65</td>
                <td>76</td>
                <td>Rp 201,700 </td>
            </tr>
            <tr>
                <td>3" - 75</td>
                <td>89</td>
                <td>Rp 304,800 </td>
            </tr>
            <tr>
                <td>4" - 100</td>
                <td>114</td>
                <td>Rp 470,000 </td>
            </tr>
            <tr>
                <td>5" - 125</td>
                <td>140</td>
                <td>Rp 622,600 </td>
            </tr>
            <tr>
                <td>6" - 150</td>
                <td>165</td>
                <td>Rp 887,700 </td>
            </tr>
            <tr>
                <td>8" - 200</td>
                <td>216</td>
                <td>Rp 1,404,000 </td>
            </tr>
            <tr>
                <td>10" - 250</td>
                <td>267</td>
                <td>Rp 2,161,700 </td>
            </tr>
            <tr>
                <td>12" - 300</td>
                <td>318</td>
                <td>Rp 3,061,400 </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ND</th>
                <th>OD</th>
                <th>VU 5 Kg/Cm2</th>
            </tr>
            <tr>
                <td>(inch-mm)</td>
                <td>(mm)</td>
                <td>Harga</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>5/8" - 13</td>
                <td>17</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1/2" - 16</td>
                <td>22</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>3/4" - 10</td>
                <td>26</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1" - 25</td>
                <td>32</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1-1/4" - 32</td>
                <td>42</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1-1/2" - 40</td>
                <td>48</td>
                <td>Rp 55,800 </td>
            </tr>
            <tr>
                <td>2" - 50</td>
                <td>60</td>
                <td>Rp 73,000 </td>
            </tr>
            <tr>
                <td>2-1/2" - 65</td>
                <td>76</td>
                <td>Rp 109,300 </td>
            </tr>
            <tr>
                <td>3" - 75</td>
                <td>89</td>
                <td>Rp 160,100 </td>
            </tr>
            <tr>
                <td>4" - 100</td>
                <td>114</td>
                <td>Rp 241,500 </td>
            </tr>
            <tr>
                <td>5" - 125</td>
                <td>140</td>
                <td>Rp 357,500 </td>
            </tr>
            <tr>
                <td>6" - 150</td>
                <td>165</td>
                <td>Rp 515,300 </td>
            </tr>
            <tr>
                <td>8" - 200</td>
                <td>216</td>
                <td>Rp 862,400 </td>
            </tr>
            <tr>
                <td>10" - 250</td>
                <td>267</td>
                <td>Rp 1,383,800 </td>
            </tr>
            <tr>
                <td>12" - 300</td>
                <td>318</td>
                <td>Rp 1,918,700 </td>
            </tr>
        </tbody>
    </table>
</div>