
            {{ partial "menu/fitting-pvc" . }}
            <hr>
            <div class="col-md-12 col-lg-12">
                <div class="text-center">
                    <h3>Harga Socket PVC Rucika D</h3>

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">Socket/Coupler</th>
                            </tr>
                            <tr>
                                <td>Ukuran</td>
                                <td> Harga (Rp) </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1 1/4″</td>
                                <td>Rp 1,700 </td>
                            </tr>
                            <tr>
                                <td>1 1/2″</td>
                                <td>Rp 2,100 </td>
                            </tr>
                            <tr>
                                <td>2″</td>
                                <td>Rp 3,200 </td>
                            </tr>
                            <tr>
                                <td>2 1/2″</td>
                                <td>Rp 5,400 </td>
                            </tr>
                            <tr>
                                <td>3″</td>
                                <td>Rp 8,400 </td>
                            </tr>
                            <tr>
                                <td>4″</td>
                                <td>Rp 15,200 </td>
                            </tr>
                            <tr>
                                <td>5″</td>
                                <td>Rp 28,600 </td>
                            </tr>
                            <tr>
                                <td>6″</td>
                                <td>Rp 37,300 </td>
                            </tr>
                            <tr>
                                <td>8″</td>
                                <td>Rp 98,900 </td>
                            </tr>
                            <tr>
                                <td>10″</td>
                                <td>Rp 151,200 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>