<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Tipe</th>
            <th>Deskripsi</th>
            <th>Harga Komplit Per Set (Rp)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Brother 735-3</td>
            <td>Mesin jahit jarum 1 high speed</td>

            <td>1.800.000</td>
        </tr>
        <tr>
            <td>Brother 735-7</td>
            <td>Mesin jahit jarum 1 (bahan tebal)</td>

            <td>2.200.000</td>
        </tr>
        <tr>
            <td>Brother 755</td>
            <td>Mesin jahit jarum 1 (Model lama)</td>
            <td>1.550.000</td>
        </tr>
        <tr>
            <td>Brother 832</td>
            <td>Mesin jahit jarum 2 (Model lama)</td>
            <td>3.700.000</td>
        </tr>
        <tr>
            <td>Brother 842</td>
            <td>Mesin jahit jarum 2 (Model baru)</td>
            <td>5.550.000</td>
        </tr>
        <tr>
            <td>Brother 845</td>
            <td>Mesin jahit jarum 2 otomatis</td>

            <td>7.250.000</td>
        </tr>
        <tr>
            <td>Brother 814</td>
            <td>Mesin jahit lubang kancing kemeja</td>

            <td>17.200.000</td>
        </tr>
        <tr>
            <td>Brother 551</td>
            <td>Mesin jahit obras (Benang 3)</td>
            <td>3.250.000</td>
        </tr>
        <tr>
            <td>Brother 551</td>
            <td>Mesin jahit obras (Benang 4)</td>
            <td>3.550.000</td>
        </tr>
        <tr>
            <td>Brother 551</td>
            <td>Mesin jahit obras (Benang 5)</td>
            <td>3.950.000 - 4.700.000</td>
        </tr>
        <tr>
            <td>Brother 917</td>
            <td>Mesin jahit pasang kancing</td>

            <td>6.300.000</td>
        </tr>
        <tr>
            <td>Brother 926-8A</td>
            <td>Mesin jahit make up celana jeans</td>

            <td>19.800.000</td>
        </tr>
        <tr>
            <td>Brother 925</td>
            <td>Mesin jahit make up kemeja</td>

            <td>9.100.000</td>
        </tr>
        <tr>
            <td>Brother 793</td>
            <td>Mesin jarum 1 jahit tipis tidak berkerut</td>

            <td>3.550.000</td>
        </tr>
    </tbody>
</table>