{{ partial "header" . }}

<div class="bg-white default-padding">
    <div class="container">
        <div class="col-md-12 col-sm-12 text-center">
            {{ .Content }}
            <hr>
            <br>
            <p>
                Tagar:
                {{ $siteurl := .Site.BaseURL }}
                {{ range .Params.tags }}
                #<a href="{{ $siteurl }}tags/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </p>
        </div>
    </div>
</div>

{{ partial "footer" . }}