{{ partial "header-default" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Pipa PPR Rucika Green (Wavin Tigris)</h3>
                {{ partial "supplier/nkr" . }} 
            </div>

            <div class="clear" style="margin-bottom: 30px;"></div>
            
            <div class="col-md-4 col-sm-12">
                {{ partial "pipa/ppr-rucika-pn10" . }}
            </div>
            <div class="col-md-4 col-sm-12">
                {{ partial "pipa/ppr-rucika-pn16" . }}
            </div>
            <div class="col-md-4 col-sm-12">
                {{ partial "pipa/ppr-rucika-pn20" . }}
            </div>
        </div>
        <div style="height:50px; clear:both;"></div>
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Pipa PPR Asialing</h3>
                {{ partial "supplier/nkr" . }} 
            </div>
            
            <div class="clear" style="margin-bottom: 30px;"></div>
            
            <div class="col-md-4 col-sm-12">
                {{ partial "pipa/ppr-asialing-pn10" . }}
            </div>
            <div class="col-md-4 col-sm-12">
                {{ partial "pipa/ppr-asialing-pn16" . }}
            </div>
            <div class="col-md-4 col-sm-12">
                {{ partial "pipa/ppr-asialing-pn20" . }}
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}