{{ partial "amp/header" . }}

<div class="page-content">
    <div class="page-content-scroll">
        <div class="decoration-margins"></div>
        <div class="content">
            <div class="container center-text">
                {{ partial "menu/pipa-ppr-amp" . }}
            </div>

            <div class="decoration decoration-margins"></div>

            <div class="container center-text">
                <h3>Harga Pipa PPR Rucika Green (Wavin Tigris)</h3>
                {{ partial "supplier/nkr" . }}
            </div>

            <div class="container center-text">
                {{ partial "pipa/ppr-rucika-pn10" . }}
            </div>

            <div class="container center-text">
                {{ partial "pipa/ppr-rucika-pn16" . }}
            </div>

            <div class="container center-text">
                {{ partial "pipa/ppr-rucika-pn20" . }}
            </div>

            <div class="decoration decoration-margins"></div>

            <div class="container center-text">
                <h3>Harga Pipa PPR Asialing</h3>
                {{ partial "supplier/nkr" . }}
            </div>

            <div class="container center-text">
                {{ partial "pipa/ppr-asialing-pn10" . }}
            </div>

            <div class="container center-text">
                {{ partial "pipa/ppr-asialing-pn16" . }}
            </div>

            <div class="container center-text">
                {{ partial "pipa/ppr-asialing-pn20" . }}
            </div>
        </div>
    </div>
</div>

{{ partial "amp/footer" . }}