{{ partial "header-default-amp" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            {{ partial "menu/pipa-hdpe" . }}

            <div style="clear:both; margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Mesin Las/Mesin Butt Welding Pipa HDPE</h3>
                {{ partial "supplier/nkr" . }} {{ partial "mesin/mesin-las-hdpe" . }}
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}