{{ partial "amp/header" . }}

<div class="page-content">
    <div class="page-content-scroll">
        <div class="decoration decoration-margins"></div>
        <div class="content">
            <div class="container center-text">
                {{ partial "menu/pipa-pvc-amp" . }}
            </div>
            <div class="container center-text ">
                <h1 class="uppercase">{{ .Title }}</h1>
            </div>
            <div class="container center-text">
                <a href="{{ .Site.BaseURL }}amp/harga-fitting-pipa-pvc/cm" class="button bg-red-light">Harga Fitting PVC CM</a>
            </div>
        </div>
    </div>
</div>

{{ partial "amp/footer" . }}