<a class="menu-item" href="{{ .Site.BaseURL }}/amp">
    <span>Home</span>
    <i class="fa fa-circle"></i>
</a>
<div class="submenu-item">
    <input data-submenu-items="2" class="toggle-submenu" id="toggle-1" type="checkbox">
    <label class="menu-item" for="toggle-1"><span>Pipa PVC</span></label>
    <div class="submenu-wrapper">
        <a class="menu-item" href="{{ .Site.BaseURL }}harga-pipa-pvc/amp">Harga Pipa PVC<i class="fa fa-circle"></i></a>
        <a class="menu-item" href="{{ .Site.BaseURL }}harga-fitting-pipa-pvc/amp">Harga Fitting PVC<i class="fa fa-circle"></i></a>
    </div>
</div>
<div class="submenu-item">
    <input data-submenu-items="2" class="toggle-submenu" id="toggle-2" type="checkbox">
    <label class="menu-item" for="toggle-2"><span>Pipa HDPE</span></label>
    <div class="submenu-wrapper">
        <a class="menu-item" href="{{ .Site.BaseURL }}harga-pipa-hdpe/amp">Harga Pipa HDPE<i class="fa fa-circle"></i></a>
        <a class="menu-item" href="{{ .Site.BaseURL }}harga-fitting-pipa-hdpe/amp">Harga Fitting HDPE<i class="fa fa-circle"></i></a>
    </div>
</div>
<div class="submenu-item">
    <input data-submenu-items="2" class="toggle-submenu" id="toggle-3" type="checkbox">
    <label class="menu-item" for="toggle-3"><span>Pipa PPR</span></label>
    <div class="submenu-wrapper">
        <a class="menu-item" href="{{ .Site.BaseURL }}harga-pipa-ppr/amp">Harga Pipa PPR<i class="fa fa-circle"></i></a>
        <a class="menu-item" href="{{ .Site.BaseURL }}harga-fitting-pipa-ppr/amp">Harga Fitting PPR<i class="fa fa-circle"></i></a>
    </div>
</div>
<label class="menu-item" for="toggle-menu"><i class="fa fa-times"></i><span>Close Menu</span><i class="fa fa-circle"></i></label>