{{ partial "amp/header" . }}

<div class="page-content">
    <div class="page-content-scroll">
        <div class="decoration"></div>
        <div class="content">
            <div class="container center-text">
                {{ partial "menu/pipa-ppr-amp" . }}
            </div>
            <div class="decoration-margins"></div>
            <div class="container center-text">
                <h3>Harga Fitting/Sambungan Pipa PPR Asialing</h3>
                {{ partial "supplier/nkr" . }}{{ partial "pipa/fitting-ppr-asialing" . }}
            </div>
        </div>
    </div>
</div>

{{ partial "amp/footer" . }}