{{ partial "header-default" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            {{ partial "menu/pipa-hdpe" . }}

            <hr>

            <div class="col-md-12 col-sm-12">
                <div class="text-center">
                    <h3>Harga Fitting/Sambungan Pipa HDPE HQ Butt Fusion</h3>
                    {{ partial "supplier/nkr" . }}

                    <a href="{{.Site.BaseURL}}/harga-fitting-pipa-hdpe/hq-butt-fusion/stub-end/" class="btn btn-sm">Stub End</a> <br>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}