{{ partial "header-default-amp" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            {{ partial "menu/pipa-hdpe" . }}
            
            <div class="clear" style="margin-bottom:30px;"></div>

            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Fitting/Sambungan Pipa HDPE HQ Compression Joint</h3>
                {{ partial "supplier/nkr" . }}{{ partial "pipa/fitting-hdpe-hq-cj" . }}
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}