{{ partial "amp/header" . }}

<div class="page-content">
    <div class="page-content-scroll">
        <div class="decoration"></div>
        <div class="content">
            <div class="container center-text">
                {{ partial "menu/pipa-hdpe-amp" . }}
            </div>
            <div class="decoration-margins"></div>
            <div class="container center-text">
                <a href="{{ .Site.BaseURL }}amp/harga-fitting-pipa-hdpe/hq-compression-joint" class="button bg-red-light">
                    Harga Fitting HDPE HQ (Compression Joint)
                </a>
            </div>
        </div>
    </div>
</div>

{{ partial "amp/footer" . }}