<!-- Start Footer 
    ============================================= -->
<footer class="bg-light">   
    <!-- Start Footer Bottom -->
    <div class="footer-bottom bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; Copyright 2020. All Rights Reserved</p>
                </div>
                <div class="col-md-6 text-right link">
                    <ul>
                        <li>
                            <a href="{{ .Site.BaseURL }}/sitemap.xml">Sitemap</a>
                        </li>
                        <li>
                            <a href="{{ .Site.BaseURL }}/kebijakan-privasi">Kebijakan Privasi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->

<!-- jQuery Frameworks
============================================= -->
<script src="{{ .Site.BaseURL }}/assets/js/jquery-1.12.4.min.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/equal-height.min.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/jquery.appear.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/jquery.easing.min.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/jquery.magnific-popup.min.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/modernizr.custom.13711.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/wow.min.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/progress-bar.min.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/isotope.pkgd.min.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/count-to.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/YTPlayer.min.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/bootsnav.js"></script>
<script src="{{ .Site.BaseURL }}/assets/js/main.js"></script>

</body>

</html>