<!-- MainNav -->
<nav class="navbar-collapse collapse" id="mainnav">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#">Dinding</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ .Site.BaseURL }}harga-batu-bata-batako-hebel">Harga Batu Bata, Batako, Hebel</a>
                </li>
            </ul>
        </li>        
        <li class="dropdown">
            <a href="#">Atap</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ .Site.BaseURL }}harga-granit">Harga Genteng</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Lantai</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ .Site.BaseURL }}harga-granit">Harga Lantai Granit</a>
                </li>
                <li>
                    <a href="{{ .Site.BaseURL }}harga-keramik">Harga Keramik</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Pipa</a>
            <ul class="dropdown-menu">
                <li class="dropdown">
                    <a href="#">Pipa PVC</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ .Site.BaseURL }}harga-pipa-pvc">Harga Pipa PVC</a>
                        </li>
                        <li>
                            <a href="{{ .Site.BaseURL }}harga-fitting-pipa-pvc">Harga Fitting PVC</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Pipa HDPE</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ .Site.BaseURL }}harga-pipa-hdpe">Harga Pipa HDPE</a>
                        </li>
                        <li>
                            <a href="{{ .Site.BaseURL }}harga-fitting-pipa-hdpe">Harga Fitting HDPE</a>
                        </li>
                        <li>
                            <a href="{{ .Site.BaseURL }}harga-mesin/mesin-las-hdpe">Harga Mesin Las HDPE</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Pipa PPR</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ .Site.BaseURL }}harga-pipa-ppr">Harga Pipa PPR</a>
                        </li>
                        <li>
                            <a href="{{ .Site.BaseURL }}harga-fitting-pipa-ppr">Harga Fitting PPR</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Mesin</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ .Site.BaseURL }}harga-mesin/harga-mesin-jahit-terbaru">Harga Mesin Jahit</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}p/tentang-kami">Tentang Kami</a>
        </li>
    </ul>
</nav>
<!-- #end MainNav -->