{{ partial "header" . }}

    <!-- Start Services 
    ============================================= -->
    <div class="services-area bg-gray default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Depo Harga</h2>
                        <p>
                            Situs informasi harga-harga berbagai barang mulai dari kebutuhan konstruksi proyek, alat teknik, pipa, kebutuhan ATK, harga komputer/laptop dan masih banyak lagi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="services-items text-center">
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <div class="info">
                                <h4>Harga Bahan Bangunan</h4>
                                <p>
                                    Batu bata, semen, hebel/batako, atap baja ringan, pasir, beton, lantai keramik, lantai kayu, dll. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <div class="info">
                                <h4>Harga Alat Teknik</h4>
                                <p>
                                    Gerinda, mata bor, tools set, power tools, jet spray, kompresor, mesin las, mesin welding pipa plastik, dll.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <div class="info">
                                <h4>Harga Pipa</h4>
                                <p>
                                    Pipa PVC, pipa HDPE, pipa PPR, pipa schedule 80, pipa schedule 40, pipa seamless, pipa blacksteel, pipa galvanized, dll.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <div class="info">
                                <h4>Harga Sepeda Motor</h4>
                                <p>
                                    Harga motor Honda, harga motor Yamaha, harga motor Suzuki, harga motor kawasaki, harga motor Vespa, harga motor Royal Enfield, dll.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <div class="info">
                                <h4>Harga Alat Safety</h4>
                                <p>
                                    Sepatu safety, helm proyek, kacamata safety, sarung tangan, rambu keselamatan, masker, pelindung telinga, rompi, jas hujan, sarung tangan, dll.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <div class="info">
                                <h4>Harga Valve</h4>
                                <p>
                                    Harga gate valve, ball valve, check valve, butterfly valve, globe valve, solenoid valve, control valve, pressure reducing valve, industrial valve, dll.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->

{{ partial "footer" . }}