{{ partial "amp/header" . }}

<div class="page-content">
    <div class="page-content-scroll">
        <div class="decoration"></div>
        <div class="content">
            <div class="container center-text">
                <h2>Portal Informasi Harga Komoditas Paling Lengkap Dan Update.</h2>
                <h3>Cari Harga Barang Yang Anda Butuhkan Disini!</h3>
                <p>Kami memiliki misi untuk membantu para purchasing untuk menemukan daftar harga yang akurat dan
                    update.</p>
            </div>
        </div>
    </div>
</div>

{{ partial "amp/footer" . }}