{{ partial "amp/header" . }}

<div class="page-content">
    <div class="page-content-scroll">
        <div class="decoration decoration-margins"></div>
        <div class="content">
            <div class="container center-text">
                {{ partial "menu/pipa-hdpe-amp" . }}
            </div>

            <div class="container center-text">
                <h3>Harga Pipa HDPE Supralon</h3>
                {{ partial "supplier/nkr" . }}
            </div>

            <div class="container center-text">
                {{ partial "pipa/hdpe-supralon-pn16" . }}
            </div>
            <div class="container center-text">
                {{ partial "pipa/hdpe-supralon-pn125" . }}
            </div>

            <div class="container center-text">
                {{ partial "pipa/hdpe-supralon-pn10" . }}
            </div>
            <div class="container center-text">
                {{ partial "pipa/hdpe-supralon-pn8" . }}
            </div>

            <div class="container center-text">
                <h3 class="text-center">Swallow HDPE Standard ISO 4427 – 1996 / SNI 06 – 4829 – 2005</h3>
                {{ partial "supplier/nkr" . }}
            </div>

            <div class="container center-text">
                {{ partial "pipa/hdpe-swallow-pn10" . }}
            </div>
            <div class="container center-text">
                {{ partial "pipa/hdpe-swallow-pn125" . }}
            </div>
            <div class="container center-text">
                {{ partial "pipa/hdpe-swallow-pn16" . }}
            </div>
        </div>
    </div>
</div>

{{ partial "amp/footer" . }}