{{ partial "header-default-amp" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-lg-12 text-center">
                {{ partial "menu/pipa-hdpe" . }}
            </div>

            <div class="clear" style="margin-bottom:30px;"></div>
            
            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Harga Pipa HDPE Supralon</h3>
                {{ partial "supplier/nkr" . }}
            </div>

            <div class="clear" style="margin-bottom: 30px;"></div>

            <div class="col-md-6 col-sm-12">
                {{ partial "pipa/hdpe-supralon-pn16" . }}
            </div>
            <div class="col-md-6 col-sm-12">
                {{ partial "pipa/hdpe-supralon-pn125" . }}
            </div>

            <div class="clear" style="margin-bottom: 30px;"></div>

            <div class="col-md-6 col-sm-12">
                {{ partial "pipa/hdpe-supralon-pn10" . }}
            </div>
            <div class="col-md-6 col-sm-12">
                {{ partial "pipa/hdpe-supralon-pn8" . }}
            </div>
        </div>
        <div style="height:50px; clear:both;"></div>
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Swallow HDPE Standard ISO 4427 – 1996 / SNI 06 – 4829 – 2005</h3>
                {{ partial "supplier/nkr" . }}
            </div>

            <div class="clear" style="margin-bottom: 30px;"></div>

            <div class="col-md-4 col-sm-12">
                {{ partial "pipa/hdpe-swallow-pn10" . }}
            </div>
            <div class="col-md-4 col-sm-12">
                {{ partial "pipa/hdpe-swallow-pn125" . }}
            </div>
            <div class="col-md-4 col-sm-12">
                {{ partial "pipa/hdpe-swallow-pn16" . }}
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}