<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="2">Dimensi</th>
            <th colspan="2">AW</th>
            <th colspan="2">D</th>
        </tr>
        <tr>
            <td>ND (inch)</td>
            <td>OD (mm)</td>
            <td>Tebal (mm)</td>
            <td>TS End (Rp.)</td>
            <td>Tebal (mm)</td>
            <td>TS End (Rp.)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>5/8"</td>
            <td>17</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1/2"</td>
            <td>22</td>
            <td>1.5</td>
            <td>Rp 23,250 </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>26</td>
            <td>1.8</td>
            <td>Rp 31,650 </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1"</td>
            <td>32</td>
            <td>2.0</td>
            <td>Rp 43,250 </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4"</td>
            <td>42</td>
            <td>2.3</td>
            <td>Rp 64,900 </td>
            <td>1.2</td>
            <td>Rp 40,600 </td>
        </tr>
        <tr>
            <td>1-1/2"</td>
            <td>48</td>
            <td>2.3</td>
            <td>Rp 74,500 </td>
            <td>1.2</td>
            <td>Rp 45,800 </td>
        </tr>
        <tr>
            <td>2"</td>
            <td>60</td>
            <td>2.3</td>
            <td>Rp 95,200 </td>
            <td>1.4</td>
            <td>Rp 58,950 </td>
        </tr>
        <tr>
            <td>2-1/2"</td>
            <td>76</td>
            <td>2.6</td>
            <td>Rp 138,800 </td>
            <td>1.5</td>
            <td>Rp 79,650 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>89</td>
            <td>3.1</td>
            <td>Rp 195,500 </td>
            <td>1.5</td>
            <td>Rp 105,700 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>114</td>
            <td>4.1</td>
            <td>Rp 324,000 </td>
            <td>2.0</td>
            <td>Rp 166,300 </td>
        </tr>
        <tr>
            <td>5"</td>
            <td>140</td>
            <td>5.4</td>
            <td>Rp 513,400 </td>
            <td>2.4</td>
            <td>Rp 256,200 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>165</td>
            <td>6.4</td>
            <td>Rp 720,000 </td>
            <td>2.8</td>
            <td>Rp 388,000 </td>
        </tr>
        <tr>
            <td>8"</td>
            <td>216</td>
            <td>8.3</td>
            <td>Rp 1,208,400 </td>
            <td>3.8</td>
            <td>Rp 594,500 </td>
        </tr>
        <tr>
            <td>10"</td>
            <td>267</td>
            <td>9.4</td>
            <td>Rp 1,868,000 </td>
            <td>4.7</td>
            <td>Rp 979,300 </td>
        </tr>
        <tr>
            <td>12"</td>
            <td>318</td>
            <td>11.0</td>
            <td>Rp 2,600,000 </td>
            <td>5.7</td>
            <td>Rp 1,370,000 </td>
        </tr>
    </tbody>
</table>