<table class="table table-bordered table-hover">
    <tbody>
    <tr>
    <td>
    <b>Spek Barang</b>
    </td>
    <td>
    <b>Satuan</b>
    </td>
    <td>
    <b>Harga</b>
    </td>
    </tr>
    <tr>
    <td>
    Batako
    </td>
    <td>
    Biji
    </td>
    <td>
    <strong>2.450,-</strong>
    </td>
    </tr>
    <tr>
    <td>
    Batu Bata Merah (biasa)
    </td>
    <td>
    Biji
    </td>
    <td>
    <strong>550,-</strong>
    </td>
    </tr>
    <tr>
    <td>
    Batu Bata Merah (oven)
    </td>
    <td>
    Biji
    </td>
    <td>
    <strong>700,-</strong>
    </td>
    </tr>
    <tr>
    <td>
    Batu Kali Belah
    </td>
    <td>
    m3
    </td>
    <td>
    <strong>180.000,-</strong>
    </td>
    </tr>
    <tr>
    <td>
    Split
    </td>
    <td>
    pick up
    </td>
    <td>
    <strong>265.000,-</strong>
    </td>
    </tr>
    <tr>
    <td>
    Split
    </td>
    <td>
    truk
    </td>
    <td>
    <strong>1.265.000,-</strong>
    </td>
    </tr>
    <tr>
    <td>
    Batu Knecker
    </td>
    <td>
    m3
    </td>
    <td>
    <strong>207.000,-</strong>
    </td>
    </tr>
    <tr>
    <td>
    Batu Candi (30 x 30)
    </td>
    <td>
    m2
    </td>
    <td>
    <strong>119.000,-</strong>
    </td>
    </tr>
    <tr>
    <td>
    Batu Andesit (30 x 30)
    </td>
    <td>
    m2
    </td>
    <td>
    <strong>155.000,-</strong>
    </td>
    </tr>
    <tr>
    <td>
    Batu Bali
    </td>
    <td>
    10 kg
    </td>
    <td>
    
    <p><strong>68.000,-</strong></p>
    
    </td>
    </tr>
    </tbody>
    </table>